{% if request.locale.iso_code == 'fr' %}

<!-- ONE TIME OFFER UNDER BLOG -->
<div class="oto_wrap oto_wraplf">
<div class="page-width text-center">
<div class="grid grid--uniform">
<div class="grid__item">
<p><em>Dring-dring!</em> Une vie plus saine, plus &eacute;gayante et qui se rapproche de tes r&ecirc;ves, t&#39;appelle.</p>

<p>Teangle est facilement l&rsquo;<strong>une des habitudes les plus saines </strong> &agrave; ajouter &agrave; ton quotidien, pour y faire une GROSSE diff&eacute;rence.<br />
Plus d&rsquo;<strong>&eacute;nergie</strong>, plus de <strong>productivit&eacute;, moins de stress</strong> et moins de baisse de motivation lorsque 15h sonne.</p>

<p>Tu n&rsquo;as qu&rsquo;&agrave; plonger ta cuill&egrave;re, secouer et siroter, puis tu es <strong>pr&ecirc;t &agrave; te surpasser!</strong></p>
</div>
</div>

<div class="grid grid--uniform">
<div class="grid__item ">
<p style=" text-transform: uppercase; color: #f04e98; "><strong>Regarde comme c&rsquo;est facile &agrave; pr&eacute;parer : </strong></p>

<p><iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="476" scrolling="no" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F569891477069568%2F&amp;show_text=0&amp;width=267" style="border: none; overflow: hidden;" width="267"></iframe></p>
</div>

<div class="grid__item ">
<p style=" text-transform: uppercase; color: #f04e98; "><strong>Pas si vite, et le go&ucirc;t lui? </strong></p>

<p>Oui, plusieurs Matcha sur le march&eacute; go&ucirc;tent le gazon. Mais ne t&rsquo;en fais pas!</p>

<p>Chez Teangle, la vie et le fun vont de pair. Nous vivons selon la devise <span style=" color: #f04e98; font-weight: 600; ">&lsquo;Fais une flaveur &agrave; ta sant&eacute;&rsquo;</span> et croyons que <strong>personne ne devrait sacrifier le go&ucirc;t et le plaisir, au nom de la sant&eacute;.</strong></p>

<p style="font-weight: 600;">C&rsquo;est pour cette raison que nous avons cr&eacute;&eacute; Teangle!</p>

<p>Du <strong>Matcha D-&Eacute;-L-I-C-I-E-U-X rempli &agrave; raz bord de nutriments</strong>, qui n&rsquo;attendent qu&rsquo;&agrave; tout renforcer, de ton &eacute;nergie &agrave; la pointe de tes cheveux.</p>
Notre <span style=" color: #f04e98; font-weight: 600; ">Matcha Japonais Biologique</span>, est agr&eacute;ment&eacute; de quelques uns des <span style=" color: #f04e98; font-weight: 600; ">super-aliments les plus sant&eacute; au monde</span>, afin de te fournir les bienfaits que tu m&eacute;rites, au go&ucirc;t qui fera qui te plaira r&eacute;ellement!

<p>&nbsp;</p>
</div>
</div>
<!-- <div class="grid grid--uniform">
                <div class="grid__item">
                        <p style=" display: block; text-align: center; font-size: 25px; line-height: 1.5; margin: 20px 0 0; padding: 10px; background: #fcfcfc; "><strong>At Teangle we want to give you the energy for life, to chase your dreams (and the day-to-day) and overcome any obstacles in your way.</strong></p>
                </div>
            </div> --></div>
</div>

<div class="oto_wrap2">
<div class="oto_wrap">
<div class="page-width text-center">
<div class="grid grid--uniform">
<h3 style="text-transform: uppercase;color: #f04e98;font-size: 23px;font-weight: 600;font-family: 'Varela', Muli, Arial;">&ldquo;&ldquo;Enfin une fa&ccedil;on d&eacute;licieuse (et sant&eacute;!) de boire du Matcha&rdquo;</h3>

<p>Sirote-toi un chemin vers la cr&egrave;me de ce que le monde du Matcha a &agrave; offrir, aux go&ucirc;ts de <span style=" color: #f04e98; font-weight: 600; ">Matcha Gingembre &amp; Citronnelle Teangle</span>, avec un soup&ccedil;on de zeste - ce Matcha sucr&eacute; et frais, finit sur une note punch&eacute;e impeccable; <span style=" color: #f04e98; font-weight: 600; ">Matcha Chai Teangle</span>, du gingembre piquant, de la cannelle enivrante et de la noix de muscade r&eacute;confortante, &eacute;l&egrave;vent notre Matcha Chai (et TOI) &agrave; un tout autre niveau! Peux-tu d&eacute;j&agrave; humer ses &eacute;pices?; <span style=" color: #f04e98; font-weight: 600; ">Matcha &agrave; la Menthe Poivr&eacute;e Teangle</span>, Imagine pouvoir prendre une gorg&eacute;e de l&rsquo;air frais des Alpes : revigorant, charmant et &ocirc; combien rafra&icirc;chissant. La fra&icirc;cheur &agrave; son meilleur!<br />
&nbsp;</p>
</div>

<div class="grid grid--uniform singp_offers">
<div class="grid__item medium-up--one-third aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="singp_offer">
<div class="singp_ofimg"><img  class="lazyload"  src="https://cdn.shopify.com/s/files/1/1835/6147/products/Teangle_Chai_Sq_720x_585e4d76-7583-4e18-a011-0a98d219157e_360x.jpg?v=1611328134" /></div>

<div class="singp_ofmeta">
<p>$27 <strong>Chai Matcha</strong></p>
<a class="btn" onclick="Shopify.addItem(39968388776018,1);">AJOUTER AU PANIER</a></div>
</div>
</div>

<div class="grid__item medium-up--one-third aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="singp_offer">
<div class="singp_ofimg"><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/photo6-png_995b9c96-bf1b-419b-8388-bcf75ad5a177_360x.png?v=1611328142" /></div>

<div class="singp_ofmeta">
<p>$27 <strong>Matcha Gingembre &amp; Citronnelle</strong></p>
<a class="btn" onclick="Shopify.addItem(39968387039314,1);">AJOUTER AU PANIER</a></div>
</div>
</div>

<div class="grid__item medium-up--one-third aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="singp_offer">
<div class="singp_ofimg"><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/peppermint_e2f3e87d-0a21-4748-8cae-4636a5aff541_360x.png?v=1611328150" /></div>

<div class="singp_ofmeta">
<p>$27 <strong>Matcha &agrave; la Menthe Poivr&eacute;e</strong></p>
<a class="btn" onclick="Shopify.addItem(39968390578258,1);">AJOUTER AU PANIER</a></div>
</div>
</div>
</div>

<div class="grid"><a href="/collections/matcha-signature-teangle">D&eacute;couvre tous nos Matcha! </a></div>
</div>
</div>
</div>

<div class="oto_wrap oto_wraplf">
<div class="page-width text-center">
<div class="grid grid--uniform" style=" padding-left: 20px; ">
<h3>&quot;Une d&eacute;couverte qu&rsquo;il se devait de partager&rdquo;</h3>

<p><strong>Il y a 5 ans, Philippe se trouvait au fond du gouffre. </strong><br />
Jour apr&egrave;s jour, il se levait avec le sentiment qu&rsquo;un &eacute;l&eacute;phant &eacute;tait assis sur sa poitrine. &Eacute;cras&eacute; par le poids du monde. Il se sentait <strong>coinc&eacute;, paralis&eacute;, apeur&eacute; de prendre le moindre risque, en mauvaise sant&eacute; et totalement malheureux.</strong></p>

<p><strong>Dans sa qu&ecirc;te de s&rsquo;aider lui-m&ecirc;me,</strong> Philippe est tomb&eacute; sur un article &agrave; propos du bonheur que les <strong>moines bouddhistes</strong> cultivaient... et d&eacute;couvrit leur secret <strong>le mieux gard&eacute; (leur petit rituel vert... le Matcha!)</strong></p>

<p><strong>Zen comme un moine</strong>, pensa-t-il, &ccedil;a me parle!</p>

<p>&Ccedil;a n&rsquo;a pas pris de temps avant que Philippe ne tombe en amour avec les bienfaits que le Matcha lui apportait. Pour la premi&egrave;re fois depuis longtemps, il <strong>sentit qu&rsquo;il reprenait tranquillement le contr&ocirc;le sur sa vie.</strong>. Il y avait un nouveau ressort &agrave; ses pas. Son humeur, sa concentration et son niveau d&#39;&eacute;nergie furent propuls&eacute;s vers le haut, comme des fus&eacute;es!</p>

<p>Il <strong>d&eacute;sirait partager son nouveau rituel bien-&ecirc;tre avec le monde. </strong>Malheureusement, aucun de ses amis ou membres de sa famille ne pouvaient passer par-dessus ce go&ucirc;t amer et gazonn&eacute;, ni se voir boire du Matcha (et l&rsquo;appr&eacute;cier) sur une base r&eacute;guli&egrave;re.</p>

<p>Philippe pensa: <strong style=" color: #f04e98; font-weight: 600; "> &ldquo;Si le Matcha doit devenir un breuvage de pr&eacute;dilection, il ne peut y avoir de compromis, quant au go&ucirc;t - il doit &ecirc;tre d&eacute;licieux&rdquo;</strong></p>

<p>&Agrave; partir de ce moment, Philippe a d&eacute;cid&eacute; de se lancer dans l&rsquo;aventure la plus effrayante et excitante de sa vie... cr&eacute;er Teangle! Parce que <span style=" color: #f04e98; font-weight: 600; ">#MatchaWaiting</span> n&rsquo;est-ce pas?</p>

<p>Aujourd&rsquo;hui, <strong>Teangle a r&eacute;ussi &agrave; cr&eacute;er un <span style=" color: #f04e98; font-weight: 600; ">Matcha 2.0</span> : ludique, sant&eacute;, facile &agrave; pr&eacute;parer et &ocirc; combien savoureux!</strong> Nous offrons 3 d&eacute;licieuses formules de Matcha Japonais Biologiques, provenant de notre <strong>ferme familiale d&rsquo;Uji au Japon</strong> et remplies d&rsquo;ingr&eacute;dients naturels de premi&egrave;re qualit&eacute;.</p>

<p>De plus en plus de gens ajoutent cette petite poudre magique &agrave; leur routine. Ce qui sortait tout droit d&rsquo;un r&ecirc;ve est devenu r&eacute;alit&eacute; : <strong>Teangle est le Matcha qui cr&eacute;e le plus d&rsquo;engouement chez les Canadiens.</strong></p>

<p style="max-width: 500px;margin: 0 auto;font-size: 16px;"><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/With_our_friends_in_Japan.png?v=1619808807" /><br />
<strong style=" text-transform: uppercase; color: #f04e98; ">Avec nos amis au Japon </strong><br />
De plus en plus de gens ajoutent cette petite poudre magique &agrave; leur routine. Ce qui sortait tout droit d&rsquo;un r&ecirc;ve est devenu r&eacute;alit&eacute; : Teangle est le Matcha qui cr&eacute;e le plus d&rsquo;engouement chez les Canadiens.</p>
</div>
</div>
</div>

<div style=" background: #f3f3f3;margin: 40px 0 ;">
<div class="oto_wrap oto_wraplf" style=" padding: 40px 0 40px 25px;">
<div class="page-width text-center">
<div class="grid grid--uniform">
<h3 style="text-transform: none;color: #f04e98;font-size: 23px;font-weight: 600;font-family: 'Varela', Muli, Arial;">Joins-toi &agrave; la famille Teangle! + de 80,000 personnes qui ont ajout&eacute; de la saveur et du fun &agrave; leurs vies!</h3>

<p style=" font-size: 16px; ">Du vert coule dans nos veines, mais notre passion d&eacute;passe largement le Matcha.</p>

<p style=" font-size: 16px; ">Chez Teangle, nous sommes <span style=" color: #f04e98; font-weight: 600; ">UNE FAMILLE</span> d&rsquo;individus, <strong>avec une soif de vivre, qui concentrent leur &eacute;nergie, afin de propager des ondes positives, parmi tous ceux qui les entourent. </strong></p>

<p style=" font-size: 16px; ">Apr&egrave;s tout, de nouvelles habitudes et des changements dans son mode de vie, sont tellement plus faciles &agrave; int&eacute;grer, lorsqu&rsquo;on est entour&eacute; de positivit&eacute;.</p>

<p><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/ezgif.com-gif-maker-2.gif?v=1619808817" /><br />
<br />
Aujourd&rsquo;hui, nous aidons des milliers de personnes &agrave; exp&eacute;rimenter les bienfaits du Matcha : augmentation de l&rsquo;&eacute;nergie, plus de confiance en soi, moins de stress et une vie globalement meilleure.<br />
<br />
<strong><span style=" color: #f04e98; font-weight: 600; ">Et tout &ccedil;a, une tasse de Teangle &agrave; la fois.</span></strong></p>
</div>
</div>
</div>
</div>

<div class="oto_wrap">
<div class="page-width" style="max-width: 900px;">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-half aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="offer_ublog">
<div class="offer_ubmeta">
<h4>Premi&egrave;re fois</h4>
<img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/Teangle_-_Starter_Pack_Pink_360x.jpg?v=1568783168" />
<h3>$82.00</h3>
</div>

<div id="offer-savings">
<div id="savingsdispaly">&nbsp;</div>

<p id="freeshiptext"><span class="free-ship-ss">LIVRAISON GRATUITE</span><!--<span class="free-spoon-ss">Free Teangle Spoon</span>--></p>

<div class="save-serving-price hideit">
<div class="serving-price-inner">
<p>Just</p>

<p id="costperserving">0.66$</p>

<p>Per Serving</p>
</div>
</div>
</div>
<a class="btn" href="/products/ensemble-decouverte-teangle" id="bottle-sel-buttonxx">AJOUTER AU PANIER </a>

<div id="show-bottles">
<div id="bottle-title">CHOOSE GIFT BOTTLE COLOUR</div>

<div class="choose-bottle bottle-pink"><a href="https://teangle.com/cart/31503446442086:1?note=teangle-offers-2-4-6" target="_blank"><img  class="lazyload" src="https://i2.wp.com/offers.teangle.com/wp-content/uploads/2020/03/teangle-bottle-pink.jpg?resize=150%2C150&amp;ssl=1" /></a></div>

<div class="choose-bottle bottle-green"><a href="https://teangle.com/cart/31503446474854:1?note=teangle-offers-2-4-6" target="_blank"><img  class="lazyload" src="https://i0.wp.com/offers.teangle.com/wp-content/uploads/2020/03/teangle-bottle-green.jpg?resize=150%2C150&amp;ssl=1" /></a></div>
</div>
</div>
</div>

<div class="grid__item medium-up--one-half aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="offer_ublog">
<div class="offer_ubmeta">
<h4>Les Quatres Fantastiques</h4>
<img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/24_360x.png?v=1618249477" />
<h3>$135.00</h3>
</div>

<div id="offer-savings">
<div id="savingsdispaly">Sauver $16.98</div>

<p id="freeshiptext"><span class="free-ship-ss">LIVRAISON GRATUITE</span><!-- <span class="free-spoon-ss">Free Teangle Spoon</span><span class="free-bottle-ss">Free Teangle Bottle</span> --></p>

<div class="save-serving-price hideit">
<div class="serving-price-inner">
<p>Just</p>

<p id="costperserving">0.75$</p>

<p>Per Serving</p>
</div>
</div>
</div>
<a class="btn" href="/products/le-trip-a-quatre" target="_blank">AJOUTER AU PANIER </a></div>
</div>
</div>
</div>
</div>


{% else %}


<!-- ONE TIME OFFER UNDER BLOG -->
<div class="oto_wrap oto_wraplf">
<div class="page-width text-center">
<div class="grid grid--uniform">
<div class="grid__item">
<p><em>Zing Zing!</em> A healthier, funner life, that's closer to your dreams is calling.</p>

<p>Teangle is by far one of the e<strong>asiest healthy habits</strong> that you can add to your day-to-day that will make a BIG difference.</p>
<p>More <strong>energy</strong>, more productivity, less stress and less 3pm slumps! Just spoon, shake and sip and you're ready to <strong>go, go go !</strong></p>
</div>
</div>

<div class="grid grid--uniform">
<div class="grid__item ">
<p style=" text-transform: uppercase; color: #f04e98; "><strong>SEE HOW EASY TO PREPARE:</strong></p>

<p><iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="476" scrolling="no" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F569891477069568%2F&amp;show_text=0&amp;width=267" style="border: none; overflow: hidden;" width="267"></iframe></p>
</div>

<div class="grid__item ">
<p style=" text-transform: uppercase; color: #f04e98; "><strong>Hold on, what about the taste?  </strong></p>

<p>Yes, most Matcha out there tastes like grass. But don't worry!</p>
<p>At Teangle, life and fun go hand in hand. We live by the motto&nbsp;<strong>&lsquo;Do Your Health a Flavor&rsquo;&nbsp;</strong>and believe that&nbsp;<strong style=" color: #f04e98; font-weight: 600; ">no one should sacrifice taste &amp; pleasure when it comes to their health.&nbsp;</strong></p>
<p><strong style=" color: #f04e98; font-weight: 600; ">That&rsquo;s why we&rsquo;ve created Teangle! D-E-L-I-C-I-O-US Matcha jam-packed with nutrients&nbsp;</strong>waiting to strengthen everything from your energy to the strands of your hair.&nbsp;</p>
<p>Our&nbsp;<strong style=" color: #f04e98; font-weight: 600; ">organic Japanese Matcha&nbsp;</strong>is powered up with some of the&nbsp;<strong>world&rsquo;s healthiest superfoods</strong>&nbsp;to give you&nbsp;<strong>the benefits you truly deserve</strong>&nbsp;with a taste you&rsquo;ll actually enjoy!</p>
<p>&nbsp;</p>
</div>
</div>
<!-- <div class="grid grid--uniform">
                <div class="grid__item">
                        <p style=" display: block; text-align: center; font-size: 25px; line-height: 1.5; margin: 20px 0 0; padding: 10px; background: #fcfcfc; "><strong>At Teangle we want to give you the energy for life, to chase your dreams (and the day-to-day) and overcome any obstacles in your way.</strong></p>
                </div>
            </div> --></div>
</div>

<div class="oto_wrap2">
<div class="oto_wrap">
<div class="page-width text-center">
<div class="grid grid--uniform">
<h3 style="text-transform: uppercase;color: #f04e98;font-size: 23px;font-weight: 600;font-family: 'Varela', Muli, Arial;"> “Finally delicious (and healthy!) way to drink Matcha”
</h3>

<p>Sip your way through the best that the Matcha world has to offer with the likes of <strong>Teangle Ginger &amp; Lemongrass Matcha</strong>, with a hint of zest - this Matcha is s<strong>weet and refreshing</strong>, with just the right amount of kick ; <strong>Teangle Chai Matcha</strong>, zingy ginger, spicy cinnamon and warm nutmeg bring our Chai Matcha and YOU to another level! <strong>Can you smell the spices yet?</strong>; <strong>Teangle Peppermint Matcha</strong><strong>, </strong>It&rsquo;s like taking a sip of the fresh alps : <strong>invigorating, cool &amp; oh so refreshing.</strong> It&rsquo;s minty fresh at it&rsquo;s very best!</p>
</div>

<div class="grid grid--uniform singp_offers">
<div class="grid__item medium-up--one-third aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="singp_offer">
<div class="singp_ofimg"><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/Teangle_Chai_Sq_720x_585e4d76-7583-4e18-a011-0a98d219157e_360x.jpg?v=1611328134" /></div>

<div class="singp_ofmeta">
<p>$27 <strong>Chai Matcha</strong></p>
<a class="btn" onclick="Shopify.addItem(39968388776018,1);">ADD TO CART</a></div>
</div>
</div>

<div class="grid__item medium-up--one-third aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="singp_offer">
<div class="singp_ofimg"><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/photo6-png_995b9c96-bf1b-419b-8388-bcf75ad5a177_360x.png?v=1611328142" /></div>

<div class="singp_ofmeta">
<p>$27 <strong>Matcha Ginger & Lemongrass Matcha</strong></p>
<a class="btn" onclick="Shopify.addItem(39968387039314,1);">ADD TO CART</a></div>
</div>
</div>

<div class="grid__item medium-up--one-third aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="singp_offer">
<div class="singp_ofimg"><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/peppermint_e2f3e87d-0a21-4748-8cae-4636a5aff541_360x.png?v=1611328150" /></div>

<div class="singp_ofmeta">
<p>$27 <strong>Matcha Peppermint</strong></p>
<a class="btn" onclick="Shopify.addItem(39968390578258,1);">ADD TO CART</a></div>
</div>
</div>
</div>

<div class="grid"><a href="/collections/matcha-signature-teangle">Check out our New Matcha  </a></div>
</div>
</div>
</div>

<div class="oto_wrap oto_wraplf">
<div class="page-width text-center">
<div class="grid grid--uniform" style=" padding-left: 20px; ">
<h3>A discovery he had to share</h3>
<p><strong style=" color: #f04e98; font-weight: 600; ">Five years ago, Philippe was at the lowest point in his life.</strong></p>
<p>Morning after morning he&rsquo;d wake up feeling like an elephant was sitting on his chest. Crushed by the weight of the world. He was <strong>stuck, paralyzed, afraid of taking risks, unhealthy and totally unhappy.</strong></p>
<p><strong style=" color: #f04e98; font-weight: 600; ">On his quest for self-help</strong>, Philippe stumbled on an article about the happiness that Buddhist monks cultivated...and uncovered their best kept secret (their little green ritual...Matcha!)</p>
<p><strong>Zen like a monk</strong> he thought, sign me up!</p>
<p>It wasn&rsquo;t long before Philippe fell in love with the benefits of Matcha. For the first time in a long time, he <strong>felt like he was taking back control of his life</strong>. There was a new found spring in his step. His mood, concentration, and energy levels skyrocketed!</p>
<p>He <strong style=" color: #f04e98; font-weight: 600; ">wanted to share his newfound green ritual with the world</strong>. Unfortunately, none of his friends or family could get over its bitter-y grassy taste and envision themselves drinking Matcha (&amp; actually enjoying it) on a daily basis.</p>
<p>Philippe thought to himself ; <strong style=" color: #f04e98; font-weight: 600; ">&ldquo;If Matcha is to become people&rsquo;s drink of choice, there can be no compromise on taste - it has to be delicious&rdquo;</strong></p>
<p>From that moment on, Philippe decided to embark on the scariest and most exciting journey of his life...creating Teangle! Because <strong>#MatchaWaitingFor</strong> right?!</p>
<p>Today, <strong>Teangle has suceeded in creating a </strong><strong>Matcha 2.0</strong><strong> : fun, healthy, easy to prepare and oh-so yummy!</strong> We offer 3 delicious Organic Japanese Matcha blends from our <strong>family farm in Uji, Japan</strong> jam-packed with premium natural ingredients.</p>
<p><br /><br />More and more people are adding this magical green powder into their routine. What started out as a dream has now become a reality : <strong>Teangle is the most raved about Matcha by Canadians.</strong></p>
  
  </div>
</div>
</div>

<div style=" background: #f3f3f3;margin: 40px 0 ;">
<div class="oto_wrap oto_wraplf" style=" padding: 40px 0 40px 25px;">
<div class="page-width text-center">
<div class="grid grid--uniform">
<h3 style="text-transform: none;color: #f04e98;font-size: 23px;font-weight: 600;font-family: 'Varela', Muli, Arial;">Join the Teangle Fam! 80,000 + people adding flavor & fun to their lives!</h3>
 
  <p style=" font-size: 16px; ">Green runs through our veins but <strong style=" color: #f04e98; font-weight: 600; "> our passion goes far beyond Matcha.</strong></p>
<p style=" font-size: 16px; ">At Teangle, we&rsquo;re <strong style=" color: #f04e98; font-weight: 600; ">A FAMILY</strong> of like minded individuals with a thirst for life who are all about <strong>using their energy to spread the feeling of joie de vivre in all those around them.&nbsp;</strong></p>
<p style=" font-size: 16px; ">After all, new habits and lifestyle changes are so much easier to implement when you&rsquo;re surrounded by positivity.</p>
  <p><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/ezgif.com-gif-maker-2.gif?v=1619808817" /><br />
<br />
Today, we help thousands of people experience the benefits of Matcha: increased energy, more confidence, less stress, and a better life.<br />
<strong><span style=" color: #f04e98; font-weight: 600; ">All of this, one cup of Teangle at a time.</span></strong></p>
</div>
</div>
</div>
</div>

<div class="oto_wrap">
<div class="page-width" style="max-width: 900px;">
<div class="grid grid--uniform">
<div class="grid__item medium-up--one-half aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="offer_ublog">
<div class="offer_ubmeta">
<h4>The first-timer</h4>
<img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/Teangle_-_Starter_Pack_Pink_360x.jpg?v=1568783168" />
<h3>$82.00</h3>
</div>

<div id="offer-savings">
<div id="savingsdispaly">&nbsp;</div>

<p id="freeshiptext"><span class="free-ship-ss">Free Shipping</span><!--<span class="free-spoon-ss">Free Teangle Spoon</span>--></p>

<div class="save-serving-price hideit">
<div class="serving-price-inner">
<p>Just</p>

<p id="costperserving">0.66$</p>

<p>Per Serving</p>
</div>
</div>
</div>
<a class="btn" href="/products/ensemble-decouverte-teangle" id="bottle-sel-buttonxx">ADD TO CART </a>

<div id="show-bottles">
<div id="bottle-title">CHOOSE GIFT BOTTLE COLOUR</div>

<div class="choose-bottle bottle-pink"><a href="https://teangle.com/cart/31503446442086:1?note=teangle-offers-2-4-6" target="_blank"><img  class="lazyload" src="https://i2.wp.com/offers.teangle.com/wp-content/uploads/2020/03/teangle-bottle-pink.jpg?resize=150%2C150&amp;ssl=1" /></a></div>

<div class="choose-bottle bottle-green"><a href="https://teangle.com/cart/31503446474854:1?note=teangle-offers-2-4-6" target="_blank"><img  class="lazyload" src="https://i0.wp.com/offers.teangle.com/wp-content/uploads/2020/03/teangle-bottle-green.jpg?resize=150%2C150&amp;ssl=1" /></a></div>
</div>
</div>
</div>

<div class="grid__item medium-up--one-half aos-init aos-animate  text-center" data-aos="row-of-3">
<div class="offer_ublog">
<div class="offer_ubmeta">
<h4>The Magic Foursome</h4>
<img  class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/products/24_360x.png?v=1618249477" />
<h3>$135.00</h3>
</div>

<div id="offer-savings">
<div id="savingsdispaly">Save  $16.98</div>

<p id="freeshiptext"><span class="free-ship-ss">Free Shipping</span><!-- <span class="free-spoon-ss">Free Teangle Spoon</span><span class="free-bottle-ss">Free Teangle Bottle</span> --></p>

<div class="save-serving-price hideit">
<div class="serving-price-inner">
<p>Just</p>

<p id="costperserving">0.75$</p>

<p>Per Serving</p>
</div>
</div>
</div>
<a class="btn" href="/products/le-trip-a-quatre" target="_blank">ADD TO CART </a></div>
</div>
</div>
</div>
</div>

{% endif %}
<style type="text/css">.oto_wrap { max-width: 900px;margin: 0 auto;font-size: 18px; }
           .oto_wrap2  {background: #ffe4f0; padding: 2vw 0; margin: 40px 0;}

          .singp_offer {
            background: #fff;
            padding: 10px 10px 25px;
            border: 2px solid #fdadd1;
			margin-bottom: 20px;
        }

          .offer_ublog {
            padding: 20px 15px 35px;
            border-radius: 15px;
            background: #fff;
            box-shadow: 0px 0px 6px 0px #dedede;
            margin: 10px 0;
            max-width: 420px;
        }
        .offer_ublog img {
            max-width: 300px;
        }
        .offer_ubmeta h4 {
            font-size: 20px;
            letter-spacing: 1px;
        }
          .offer_ubmeta h3 {
            font-size: 28px;
            letter-spacing: 1px;
        }
        .cc-selector input {
          margin: 0;
          padding: 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          display: none;
        }
        .cc-selector input:active +.drinkcard-cc {
          opacity: .9;
        }

        .cc-selector input:checked +.drinkcard-cc {
          -webkit-filter: none;
          -moz-filter: none;
          filter: none;
          border: 3px solid #44da9d;
        }
        .ceremonial {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/matcha-flavor-1-150x150.jpg);
        }

        .ginger {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/matcha-flavor-3-150x150.jpg);
        }

        .brainpower {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/matcha-flavor-2-150x150.jpg);
        }

        .onesac {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/matcha-flavor-3-150x150.jpg);
        }
        .threesac {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/matcha-flavor-3c-150x150.jpg);
        }
        .sixsac {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/matcha-flavor-3b-150x150.jpg);
        }
        .onemonthsupply {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/Teangle_Ginger_Sq_1Pack2a.jpg);
        }
        .twomonthsupply {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/Teangle_Ginger_Sq_1Pack4a.jpg);
        }
        .threemonthsupply {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/Teangle_Ginger_Sq_1Pack6a.jpg);
        }
        .threemonthsupplypink {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/teangle-bottle-pink-150x150.jpg);
        }
        .threemonthsupplygreen {
          background-image: url(https://offers.teangle.com/wp-content/uploads/2020/03/teangle-bottle-green-150x150.jpg);
        }
        .drinkcard-cc {
          cursor: pointer;
          background-size: 90%;
          background-position: center center;
          background-repeat: no-repeat;
          display: inline-block;
          width: 75px;
          height: 75px;
          -webkit-transition: all 100ms ease-in;
          -moz-transition: all 100ms ease-in;
          transition: all 100ms ease-in;
          -webkit-filter: brightness(1) grayscale(1) opacity(.9);
          -moz-filter: brightness(1) grayscale(1) opacity(.9);
          filter: brightness(1) grayscale(1) opacity(.9);
          border-radius: 50px;
            box-shadow: 0px 5px 10px #b8b8b8;
        margin: 0 5px;
              border: 3px solid #fff;
        }

        .drinkcard-cc:hover {
          -webkit-filter: brightness(1) grayscale(.1) opacity(.9);
          -moz-filter: brightness(1) grayscale(.1) opacity(.9);
          filter: brightness(1) grayscale(.1) opacity(.9);
          border: 3px solid #44da9d;
        }

        #buyform { max-width: 285px; }

        .fieldgroupheader { font-size: 18px; color: #000; }


        .review-stars {
          padding: 10px 10px 10px 120px;
          background: transparent url(https://cdn.shopify.com/s/files/1/1835/6147/files/5-star-rating.png) top left no-repeat;
          line-height: 10px;
          font-weight: bold;
        }

        #savingsdispaly {
            text-align: center;
            color: #fc3333;
            font-weight: 800;
            font-size: 18px;
          text-transform: uppercase;
        }

        #offer-savings {
            max-width: 400px;
            text-align: center;
        }
        .offer-save-header
        {
            font-weight: 800;
            font-size: 18px;
            color: #25cd7d;
            margin: 10px 0 5px;
        }
        .save-serving-price
        {
          background: transparent url(https://cdn.shopify.com/s/files/1/1835/6147/files/03/matcha-standalone-36.jpg) left center no-repeat;
            padding-left: 90px;
            margin: 20px 0;
            background-size: 90px;
        }
        .save-serving-price p {
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0;
            padding: 0;
        }
        #costperserving {
            font-size: 38px;
            padding: 10px;
            font-weight: 800;
            color: #53d334;
        }
        #freeshiptext {
            text-align: left;
            font-weight: bold;
            text-transform: uppercase;
        }
        #freeshiptext span {
            display: block;
            padding-left: 50px;
            min-height: 50px;
            text-align: left;
            line-height: 50px;

        }
        #freeshiptext .free-ship-ss {
            background: transparent url(https://cdn.shopify.com/s/files/1/1835/6147/files/matcha-standalone-39.jpg) left center no-repeat;
          background-size: 40px;
        }
        #freeshiptext .free-spoon-ss {
            background: transparent url(https://cdn.shopify.com/s/files/1/1835/6147/files/matcha-standalone-38.jpg) left center no-repeat;
          background-size: 40px;
        }
        #freeshiptext .free-bottle-ss {
            background: transparent url(https://cdn.shopify.com/s/files/1/1835/6147/files/matcha-standalone-37.jpg) left center no-repeat;
          background-size: 40px;
        }
        #offer-title {
            text-align: center;
            display: block;
            padding: 20px 0 0;
            text-transform: uppercase;
            font-weight: 600;
            color: #000;
        }
        #show-bottles {
            display: none;
            text-align: center;
            margin: 10px auto;
            font-size: 14px;
            line-height: 2;
            color: #000;
            font-weight: 600;
          overflow: auto;
        }

        .ffc_cols {
            display: block;
            width: 100%;
            margin: 5rem 0 10px;
        }
        .ffc_col {
            width: 100%;
            float: left;
            margin: 0 10px;
        }
        .ffc_colimg {
            width: 50px;
            float: left;
            height: 60px;
            margin-right: 10px;
        }
        .ffc_coltxt {
            width: calc(100% - 60px);
            float: left;
            text-align: left;
        }
        .ffc_coltxt h3 {
            font-size: 13px;
            margin: 5px 0 0;
              font-weight: 600;
        }

        .choose-bottle {
            width: 50%;
            float: left;
        }
        .choose-bottle img {
            border: 2px solid #ddd;
            border-radius: 50px;
            max-width: 100px;
        }
        .choose-bottle img:hover {
            border: 2px solid #26ce7d;

        }


        @media (max-width: 980px) {
          .center-mobile , .center-mobile > * , .center-mobile * { text-align: center !important; }
			.oto_wrap { padding: 0 0 0 15px; font-size: 16px; }
           .oto_wrap2 {
                  padding: 35px 0 30px 15px;
                  margin: 30px 0;
              }
          .oto_wraplfa .text-center { text-align: left !important; }
        }
</style>
<!-- ONE TIME OFFER UNDER BLOG ENDS -->
