{% if request.locale.iso_code == 'fr' %}
<div class="cb">&nbsp;</div>
 
<div class="page-widthtext-center" style="max-width: 900px;margin: 0 auto;font-size: 18px;">
<header class="section-header">
<h3 class="section-header__titleo" style=" margin-bottom: -15px; ">Matcha et collag&egrave;ne combin&eacute;s ensemble ?<br class="odesktop" />
C&#39;est une &eacute;vidence !</h3>
</header>

<div class="grid grid--uniform text-center">
<div class="grid__item">
<p>C&#39;est de loin l&#39;une des habitudes saines les plus faciles &agrave; mettre en place au quotidien et qui tiendra ses promesses : pr&eacute;server ta beaut&eacute; naturelle, ton &eacute;nergie, ta concentration, la gestion de ton poids sant&eacute; et bien plus encore...</p>
</div>
<!-- <div class="grid__item ">
                <p><strong>Tu veux voir à quel point il est facile de le préparer ?</strong></p>
                <p><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F569891477069568%2F&amp;show_text=0&amp;width=267" width="267" height="476" style="border: none; overflow: hidden;" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe></p>
              </div> -->

<div class="grid__item text-center">
<p>Notre Matcha Collag&egrave;ne est rempli de nutriments et de vitamines qui n&rsquo;attendent qu&rsquo;&agrave; circuler dans ton corps pour tout renforcer, de ton &eacute;nergie jusqu&rsquo;&agrave; la pointe de tes cheveux.</p>

<p><img class="lazyload" alt="Collage Matcha Benefits" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/matcha-collagen6-_0.jpg?v=1638553619" /></p>
</div>
</div>
</div>

<div id="offer_stk" style=" background: #f6c4c2; padding: 40px 0 20px; ">
<div class="page-width collagen_offers" style=" max-width: 960px; "><!-- <div class="grid grid--uniform text-center"> <div class="col_vip_text" style=" font-size: 18px; padding: 40px 0 0; "> <p style=" margin: 0; padding: 0; ">Hourra!!! Profite de ton accès VIP pour acheter avant tout le monde ET de votre code promo de 15%:</p> <h4 style=" margin: 10px 0; font-size: 26px; font-weight: 800; color: #d67773; text-shadow: 2px 2px 2px #8bdef0; ">GLOWLIFE15</h4> <p style=" font-size: 15px; margin-bottom: 20px; ">* Utilise-le dans la section checkout.</p> </div> </div> -->
<div class="grid grid--uniform">
<header class="text-center">
<h3 style=" color: #da706c; text-shadow: 2px 2px 2px #b4edff; font-size: 28px; ">Pr&ecirc;t &agrave; briller de l&#39;int&eacute;rieur vers l&#39;ext&eacute;rieur?!</h3>
</header>

<div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
<div class="col_offersingle">
<h2>UN POT</h2>
<img  class="lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-landing-41_350x.png?v=1631649650" />
<div class="coloffer_price">$63</div>

<div class="coloffer_meta">
<div class="ds_price">&nbsp;</div>
  <div class="ds_ship">Livraison gratuite!</div>
</div>
<label class="ds_frother">Ajoutez l&#39;indispensable mousseur Teangle pour 20.99$ <input checked="checked" id="onexaddon" type="checkbox" /> <strong class="checkmarkx"> </strong> </label>

<div class="coloffer_button"><a class="btn " id="onexbtn" onclick="Shopify.addCollagen(39968459587666,1);" style="margin: 20px auto 10px; max-width: 300px; background: #8bdef0; display: none;">Ajouter au panier</a> <a class="btn " href="/cart/39968459587666:1,39430523682898:1?note=article-oto-collagen" id="onexbtn2" style="margin: 20px auto 10px; max-width: 300px; background: #8bdef0;">Ajouter au panier</a></div>
</div>
</div>

<div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
<div class="col_offersingle">
<h2>DEUX POTS</h2>
<img  class="lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-2021-30_350x.jpg?v=1631627514" />
<div class="b2g1bdg hideit">MEILLEURE OFFRE</div>

<div class="coloffer_price">$126</div>

<div class="coloffer_meta">
<div class="ds_price">&nbsp;</div>

<div class="ds_ship">Livraison gratuite!</div>
</div>
<label class="ds_frother">Ajoutez l&#39;indispensable mousseur Teangle pour 20.99$ <input checked="checked" id="twoxaddon" type="checkbox" /> <strong class="checkmarkx"> </strong></label>

<div class="coloffer_button"><a class="btn " id="twoxbtn" onclick="Shopify.addCollagen(39968459587666,2);" style="margin: 20px auto 10px; max-width: 300px; background: #8bdef0; display: none; ">Ajouter au panier</a> <a class="btn " href="/cart/39968459587666:2,39430523682898:1?note=article-oto-collagen" id="twoxbtn2" style="margin: 20px auto 10px; max-width: 300px; background: #8bdef0; ">Ajouter au panier</a></div>
</div>
</div>
</div>
</div>
</div>


{% else %}

<div class="cb">&nbsp;</div>
 
<div class="page-widthtext-center" style="max-width: 900px;margin: 0 auto;font-size: 18px;">
<header class="section-header">
<h3 class="section-header__titleo" style=" margin-bottom: -15px; ">Matcha and collagen combined together?<br class="odesktop"> It's obvious !</h3>
</header>

<div class="grid grid--uniform text-center">
<div class="grid__item">
<p>It is by far one of the easiest healthy habits to put in place on a daily basis and which will keep its promises: to preserve your natural beauty, your energy, your concentration, the management of your healthy weight and much more ...</p>
</div>
<!-- <div class="grid__item ">
                <p><strong>Tu veux voir à quel point il est facile de le préparer ?</strong></p>
                <p><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F569891477069568%2F&amp;show_text=0&amp;width=267" width="267" height="476" style="border: none; overflow: hidden;" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe></p>
              </div> -->

<div class="grid__item text-center">
<p>Our Matcha Collagen is packed with nutrients and vitamins just waiting to flow through your body to strengthen everything from your energy to the tips of your hair.</p>

<p><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/matcha-collagen6-_1_1000x.jpg?v=1638553615"></p>
</div>
</div>
</div>

<div id="offer_stk" style=" background: #f6c4c2; padding: 40px 0 20px; ">
<div class="page-width collagen_offers" style=" max-width: 960px; "><!-- <div class="grid grid--uniform text-center"> <div class="col_vip_text" style=" font-size: 18px; padding: 40px 0 0; "> <p style=" margin: 0; padding: 0; ">Hourra!!! Profite de ton accès VIP pour acheter avant tout le monde ET de votre code promo de 15%:</p> <h4 style=" margin: 10px 0; font-size: 26px; font-weight: 800; color: #d67773; text-shadow: 2px 2px 2px #8bdef0; ">GLOWLIFE15</h4> <p style=" font-size: 15px; margin-bottom: 20px; ">* Utilise-le dans la section checkout.</p> </div> </div> -->
<div class="grid grid--uniform">
<header class="text-center">
<h3 style=" color: #da706c; text-shadow: 2px 2px 2px #b4edff; font-size: 28px; ">Ready to glow from the inside out ?!</h3>
</header>

<div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
<div class="col_offersingle">
<h2>ONE TUB</h2>
<img  class="lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-landing-41_350x.png?v=1631649650">
<div class="coloffer_price">$63</div>

<div class="coloffer_meta">
<div class="ds_price">&nbsp;</div>
  <div class="ds_ship">Free Shipping</div>
</div>
<label class="ds_frother">Add a must have Teangle frother for $20.99<input checked="checked" id="onexaddon" type="checkbox"> <strong class="checkmarkx"> </strong> </label>

<div class="coloffer_button"><a class="btn " id="onexbtn" onclick="Shopify.addCollagen(39968459587666,1);" style="margin: 20px auto 10px; max-width: 300px; background: #8bdef0; display: none;">Add to cart</a> <a class="btn " href="/cart/39968459587666:1,39430523682898:1?note=article-oto-collagen" id="onexbtn2" style="margin: 20px auto 10px; max-width: 300px; background: #8bdef0;">Add to cart</a></div>
</div>
</div>

<div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
<div class="col_offersingle">
<h2>TWO TUBS</h2>
<img  class="lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-2021-30_350x.jpg?v=1631627514">
<div class="b2g1bdg hideit">BEST OFFER</div>

<div class="coloffer_price">$126</div>

<div class="coloffer_meta">
<div class="ds_price"> &nbsp;</div>

<div class="ds_ship">Free Shipping</div>
</div>
<label class="ds_frother">Add a must have Teangle frother for $20.99 <input checked="checked" id="twoxaddon" type="checkbox"> <strong class="checkmarkx"> </strong></label>

<div class="coloffer_button"><a class="btn " id="twoxbtn" onclick="Shopify.addCollagen(39968459587666,2);" style="margin: 20px auto 10px; max-width: 300px; background: #8bdef0; display: none; ">Add to cart</a> <a class="btn " href="/cart/39968459587666:2,39430523682898:1?note=article-oto-collagen" id="twoxbtn2" style="margin: 20px auto 10px; max-width: 300px; background: #8bdef0; ">Add to cart</a></div>
</div>
</div>
</div>
</div>
</div>
{% endif %}
<script>


	$('#onexaddon').change(function() {
        if(this.checked) {
            $('#onexbtn2').show();
            $('#onexbtn').hide();
        }
        else {
        	$('#onexbtn').show();
            $('#onexbtn2').hide();
        }

    });



	$('#twoxaddon').change(function() {
        if(this.checked) {
            $('#twoxbtn2').show();
            $('#twoxbtn').hide();
        }
        else {
        	$('#twoxbtn').show();
            $('#twoxbtn2').hide();
        }

    });


</script>
<style type="text/css">.col_offersingle {
    text-align: center;
    padding: 20px 15px;
    border: 3px solid #d8908d;
    margin: 20px 10px;
    border-radius: 10px;
    background: #fff;
    position: relative;
}

.col_offersingle h2 {
    color: #d4807d;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.coloffer_meta {
    margin-bottom: 20px;
}
.coloffer_price {
    font-size: 33px;
    font-weight: 800;
    color: #d8908d;
}

.sccthmb {
    margin: 20px 10px;
}
.sccthmb img {
    margin: 0;
    padding: 0;
    border-radius: 50%;
}

.ds_frother {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.ds_frother input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkx {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.ds_frother:hover input ~ .checkmarkx {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ds_frother input:checked ~ .checkmarkx {
  background-color: #e2947d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkx:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ds_frother input:checked ~ .checkmarkx:after {
  display: block;
}

/* Style the checkmark/indicator */
.ds_frother .checkmarkx:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slick-arrow .icon {
    width: 16px !important;
    height: 20px !important;
}
.slick-arrow {
 	color: #26d07c !important;
}

.b2g1bdg {
    position: absolute;
    background: rgb(241 241 241 / 73%);
    width: 280px;
    height: 46px;
    padding: 5px 9px;
    border-radius: 30px;
    cursor: pointer;
    right: calc(50% - 140px);
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    font-size: 25px;
    text-align: center;
    -webkit-animation: fill 1s infinite alternate;
    top: 360px;
}
button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}
@media only screen and (max-width: 767px)
                      {
                      .b2g1bdg {
					    width: 260px;
					    height: 37px;
					    line-height: 1.4;
					    font-size: 18px;
					    letter-spacing: 3px;
					    top: 320px;
					    right: calc(50% - 130px);
					}
                  }
          @-webkit-keyframes fill {
            from {
              -webkit-text-stroke-color: #f34f98;
            }
            to {
              -webkit-text-stroke-color: #27cc7d;
            }
          }
</style>
