{% if request.locale.iso_code == 'en' %}
<div class="circle_nav medium-up--hide">
	<div class="circle_navi">
		<ul>
          <li>
				<a href="/products/crewneck-hakuna-matchacha"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/back_120x.jpg?v=1683227815" data-ly-processed="1683236935563" style="
    border-radius: 110px;"><span>Crewneck</span>  </a>
			</li>
			<li>
				<a href="/collections/matcha-signature-teangle"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav6b.png?v=1678210915"><span>Signature</span></a>
			</li>
			<li>
				<a href="/products/matcha-collagen"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav4.png?v=1672086272"><span>Collagen</span></a>
			</li>
			<li>
				<a href="/products/ceremonial-matcha"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav5.png?v=1672086272"><span>Ceremonial</span></a>
			</li>
			<!-- <li>
				<a href="/collections/teangle-matcha-bundles"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav7.png?v=1672170073"><span>Bundles</span></a>
			</li> -->
			<li>
				<a href="/collections/accessoires"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav8.png?v=1672170073"><span>Accessories</span></a>
			</li>
		</ul>
	</div>
</div>
{% else %}

<div class="circle_nav medium-up--hide">
	<div class="circle_navi">
		<ul>
          <li>
				<a href="/products/crewneck-hakuna-matchacha"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/back_120x.jpg?v=1683227815" data-ly-processed="1683236935563" style="
    border-radius: 110px;"><span>Crewneck</span>  </a>
			</li>
			<li>
				<a href="/collections/matcha-signature-teangle"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav6b.png?v=1678210915"><span>Signature</span></a>
			</li>
			<li>
				<a href="/products/matcha-collagen"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav4.png?v=1672086272"><span>Collagène</span></a>
			</li>
			<li>
				<a href="/products/ceremonial-matcha"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav5.png?v=1672086272"><span>Traditionnelle</span></a>
			</li>
			<!-- <li>
				<a href="/collections/teangle-matcha-bundles"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav7.png?v=1672170073"><span>Ensembles</span></a>
			</li> -->
			<li>
				<a href="/collections/accessoires"><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/circle_nav8.png?v=1672170073"><span>Accessoires</span></a>
			</li>
		</ul>
	</div>
</div>


{% endif %}
<style>
.circle_navi { overflow-x: scroll; max-width: 100%; padding: 10px; }
.circle_navi  ul { width: 420px; margin: 0 auto; list-style: none; }
.circle_navi ul li { display: inline-block; width: 70px; margin: 0 5px; font-size: 12px; text-align: center; }
.circle_navi  ul li a { display: block; }
</style>