<div class="custom-lang-switch">
  {% if request.locale.iso_code == 'en' %}
    <p><a class="lang_fr">Français</a></p>
    {% comment %} <div class="ddjun23swt">
      <span class=" medium-up--hide" style="font-size: 12px;padding-right: 5px;">Lang:</span> <span style=" font-size: 14px; ">EN</span>
      <div class="ddjun23swt-content">
      <p><a class="lang_fr">FR</a></p>
      </div>
    </div> {% endcomment %}
  {% else %}
    <p><a class="lang_en">English</a></p>
    {% comment %} <div class="ddjun23swt">
      <span class=" medium-up--hide" style="font-size: 12px;padding-right: 5px;">Langue:</span> <span style=" font-size: 14px; ">FR</span>
      <div class="ddjun23swt-content">
      <p><a class="lang_en">EN</a></p>
      </div>
    </div> {% endcomment %}
  {% endif %}
</div>
<style>
  .ddjun23swt {
  position: relative;
  display: inline-block;
  cursor: pointer;
    padding-right: 12px;
}

.ddjun23swt-content { display: none; position: absolute; min-width: 54px; max-height: 30px; line-height: 19px; padding: 6px 12px; z-index: 1; background: #fff; font-size: 16px; left: -10px; }
.ddjun23swt:after {
    content: '\25BC';
    color: #BECDBE;
    font-weight: bold;
    float: right;
    margin-left: -5px;
    font-size: 10px;
    position: relative;
    top: 6px;
}
.ddjun23swt:hover .ddjun23swt-content {
  display: block;
}
  @media only screen and (max-width: 769px) {
  .ddjun23swt:after { content: '\25B2'; }
  .ddjun23swt-content { top: -25px; right: -10px; left: auto; }  
    .ddjun23swt { padding-right: 0px; }
  }
</style>
<script>
  var currentpath = "{{ request.path }}";
  function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function getCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}
function eraseCookie(name) {   
    document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}
 $(".lang_en").click(function(){
  	//console.log("en click");
    setCookie('grt_lang','english',7);
   setCookie('is_lang','true',7);
  setTimeout(function(){
		window.location.href = "https://teangle.ca" + currentpath ;
  }, 500);
  });
$(".lang_fr").click(function(){
  	//console.log("fr click");
      setCookie('grt_lang','french',7);
  	 setCookie('is_lang','true',7);
  setTimeout(function(){
		window.location.href = "https://fr.teangle.ca" + currentpath ;
  }, 500);
  
  
  });
  
  $(document).ready(function(){
  	//console.log("trc");
    var isLangSession = getCookie("is_lang");
    var grtLang = getCookie("grt_lang");
    //console.log(isLangSession);
     if(isLangSession) {
    	console.log("langsession_true");
      eraseCookie("is_lang");
       if(grtLang === "french") {
       
       console.log("langsession_true_fr");
        // window.location.href = "https://fr.teangle.ca" + currentpath ;
       }
       else {
       	console.log("langsession_true_en");
        // window.location.href = "https://teangle.ca" + currentpath ;
       }
       
    }
    else {
    	console.log("langsession_false");
    }  
  });
</script>