{% if request.locale.iso_code == 'en' %}

   <div class="page-width faq_block collagen-l2 pblock" id="faq" >
      <header class="section-header">
         <p class="h5" style=" font-weight: 600; color: #D19B71; ">Frequently Asked Questions</p>
         <h2 class="h2 product-single__title">You have questions? We have the answers.</h2>
      </header>
      <div class="grid grid--uniform" style="max-width: 860px; margin: 0 auto;">
         <button class="accordionc">When can I expect to see results from my Teangle Matcha Collagen ?</button>
         <div class="panel" style="">
            <p>The magic operates differently from person to person, so results may vary. <br>
               Our older clientele experiences the most visible results. This is due to their low level of collagen.
            </p>
            <p>Although some clients see changes in their vitality as quickly as 2 weeks, it usually takes 6 to 8 weeks to see results on your skin, hair and nails. If you use Matcha Collagen for your joint pain, it may take a little longer before you notice an improvement.</p>
            <p>That's why we recommend trying our Teangle Matcha Collagen for 8 weeks, in order to reap its many benefits. That being said, from the first days, most clients experience:</p>
            <ol>
               <li>More energy to move, work and enjoy life. </li>
               <li>Less cravings. </li>
               <li>Better mood. </li>
            </ol>
            <p>For best results, it is recommended to drink your Matcha Collagen Teangle every day, in addition to maintaining a healthy and balanced diet.</p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">Does Teangle Matcha Collagen contain gluten, soy, tree nuts, dairy, seafood or any other allergens?</button>
         <div class="panel">
            <p>The only allergen in Teangle Matcha Collagen is fish.</p>
         </div>
         <button class="accordionc">Do you ship internationally? (Canada, United States, France) ..? What are the shipping costs?
         </button>
         <div class="panel">
            <p>Absoutely! After strong demand, we decided to open shipping to certain countries in Europe. </p>
            <p>For all orders outside of Canada, the shipping price depends on the weight of your order ; a shipping price update will be posted at checkout.</p>
            <p>If you live in Canada, we offer free shipping for orders of 2 or more jars.</p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">Where is Teangle Matcha Collagen made? Are you certified by a third party?
         </button>
         <div class="panel">
            <p>Teangle Matcha Collagen is made in a facility in British Columbia, GMP certified and NSF registered.<br>
               Teangle is a Quebec-based company dedicated to helping women glow from the inside out, through delicious and healthy Matcha blends.
            </p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">What are the main benefits? </button>
         <div class="panel">
            <p><span style="font-weight: 400;">This creamy blend combines the power of 3 great ingredients to make you glow from the inside out!
               </span>
            </p>
            <ul>
               <li style="font-weight: 400;"><span style="font-weight: 400;">Stable and long-lasting energy: 4 to 6 hours. No “high” or “down” of energy.</span></li>
               <li style="font-weight: 400;"><span style="font-weight: 400;">Strengthens the immune system: Strengthens your immunity, fights diseases and infections. </span></li>
               <li style="font-weight: 400;"><span style="font-weight: 400;">Glowing Skin, Healthy Hair and Nails: Improves the youthful appearance of the skin and helps hair and nails stay strong.  </span></li>
            </ul>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">Ingredients, nutritional values &ZeroWidthSpace;&ZeroWidthSpace;and portions? </button>
         <div class="panel">
            <p><span style="font-weight: 400;">Each serving contains:</span></p>
            <p><span style="font-weight: 400;"> 5g of ultra pure marine collagen, 1g of organic Matcha Ceremonial Matcha, organic coconut milk powder and organic acacia gum</span><br>
               <img  class="lazyload"  alt=" Nutrition Facts" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-2021-55_556x.jpg?v=1631824967">
            </p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">How does it taste ? </button>
         <div class="panel">
            <p><span style="font-weight: 400;">Each scoop is deliciously creamy and rich. </span></p>
            <p><span style="font-weight: 400;">You'll enjoy the smooth and naturally delicious taste of Matcha with every sip.  </span></p>
            <p><span style="font-weight: 400;">It's sugar-free, so you can sweeten it to your liking with a little honey or a hint of maple syrup. </span></p>
            <p><span style="font-weight: 400;">* Psst! It does NOT taste like coconut. </span></p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">When should I drink it? </button>
         <div class="panel">
            <p><span style="font-weight: 400;">Anytime or when you want to indulge in a little self-care and shine! </span></p>
            <p><span style="font-weight: 400;">Remember, don't drink it at night if you intend to sleep - Teangle Matcha Collagen will give you 4-6 hours of stable, long-lasting energy!</span></p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">How to prepare it? </button>
         <div class="panel">
            <p><span style="font-weight: 400;">Add 1 to 2 scoops in about 250ml of hot water and stir - That's it! </span></p>
            <p><span style="font-weight: 400;">Tip: Use a blender or a whisk to make your Matcha Collagen extra creamy. You can sweeten it to your liking with a little honey, a hint of maple syrup or your favorite plant-based milk. </span><br>
               <img class="lazyload"  alt="Comment le préparer?" src="https://cdn.shopify.com/s/files/1/1835/6147/files/How-to-gif-EN_500x.gif?v=1610652944">
            </p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">How much caffeine is in it and can I drink it with another Teangle Matcha?</button>
         <div class="panel">
            <p><span style="font-weight: 400;">Teangle Matcha Collagen contains 25-35 mg of caffeine per serving (3-4 times less than a cup of coffee). </span></p>
            <p><span style="font-weight: 400;">If you want to drink two, we don’t blame you! You have the green light, but make sure you don't exceed 400 milligrams (mg) of caffeine per day! </span></p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <button class="accordionc">How long does shipping take? </button>
         <div class="panel">
            <p>89% of orders ship within 2 business days. You will receive an email with tracking information once your order ships.</p>
            <p>Once shipped, orders normally usually take 2-4 business days (Express Shipping) or 4-6 business days (Standard Shipping).</p>
            <p>We process and ship orders Monday through Friday, 7 AM to 2:30PM ET. Orders placed outside of these hours will be processed the next business day.</p>
            <p>We are closed Saturday and Sunday. If you place your order after 2:30 PM ET on Friday, your order will be processed on Monday morning.</p>
            <p><a href="#top" style=" color: #ed63a0; ">Click here to choose your tubs now</a></p>
         </div>
         <script>
            var acc = document.getElementsByClassName("accordionc");
            var i;

            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                  panel.style.maxHeight = null;
                } else {
                  panel.style.maxHeight = panel.scrollHeight + "px";
                }
              });
            }
         </script>
       <div class="page-width">
      <div class="grid" style="margin-top: 25px; font-size: 18px;margin-left: 10px;">
          <p style="margin: 0;"> Have any more questions or need help with anything? </p>
          <p> Email us at <a href="mailto:info@teangle.com"> info@teangle.com</a> </p>
      </div>
      </div>
  </div>
   </div>




   {% else %}


   <div class="page-width collagen-l2 pblock" id="faq"  >
   <header class="section-header">
   <p class="h5" style=" font-weight: 600; color: #27cc7d; ">LES QUESTIONS FRÉQUEMMENT POSÉES</p>

   <h2 class="h2 product-single__title">Tu as des question. Nous avons les réponses.</h2>
   </header>

   <div class="grid grid--uniform" style="max-width: 860px; margin: 0 auto;"><button class="accordionc">Quand puis-je m’attendre à voir les résultats du Matcha Collagène Teangle?</button>

   <div class="panel">
   <p>La magie s’opère différemment d’un corps à l’autre, les résultats peuvent donc varier. Notre clientèle plus avancée en âge, expérimente les résultats les plus visibles. C’est dû à leur bas niveau de collagène.</p>

   <p>Bien que certaines clientes voient des changements au niveau de leur vitalité aussi rapidement qu’en 2 semaines, cela prend généralement de 6 à 8 semaines avant de voir les résultats sur ta peau, tes cheveux et tes ongles. Si tu utilises le Matcha Collagène pour tes douleurs articulaires, il se pourrait que le délais soit un peu plus long, avant de remarquer une amélioration.</p>

   <p>C’est pourquoi nous recommandons d’essayer notre Matcha Collagène Teangle pendant 8 semaines, afin de profiter de ses nombreux bienfaits.</p>

   <p><strong>Ceci étant dit, dès les premiers jours, la plupart des clientes expérimentent:</strong></p>

   <ol>
   	<li>Plus d’énergie pour bouger, travailler et profiter de la vie.</li>
   	<li>Moins de fringales.</li>
   	<li>Une meilleure humeur.</li>
   </ol>

   <p>Pour de meilleurs résultats, on recommande de boire ton Matcha Collagène Teangle à chaque jour, en plus de conserver une alimentation saine et équilibrée.</p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Est-ce que le Matcha Collagène Teangle contient du gluten, du soja, des noix, des produits laitiers, des fruits de mer ou tout autre allergène?</button>

   <div class="panel">
   <p>Le seul allergène contenu dans le Matcha Collagène Teangle est le poisson.</p>
   </div>
   <button class="accordionc">Est-ce que vous expédiez à l’international? (Canada, États-Unis, France)..? Quels sont les frais de shipping?</button>

   <div class="panel">
   <p>Absolument! Après une forte demande, on a décidé d’ouvrir l’expédition à certains pays d’Europe.</p>

   <p>Pour toute commande à l’extérieur du Canada, le prix du shipping dépend du poids de ta commande et une mise à jour du prix d’expédition sera inscrite au moment de payer.</p>

   <p>Pour ce qui est de l’intérieur du Canada, nous offrons le shipping gratuit pour les commandes de 2 pots ou plus.</p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Où est fabriqué le Matcha Collagène Teangle? Êtes-vous certifié par un tiers?</button>

   <div class="panel">
   <p>Le Matcha Collagène Teangle est conçu dans un établissement de la Colombie Britannique, certifié GMP et enregistré NSF. Teangle est une entreprise située à Québec, qui a le but d’aider les femmes à briller de l’intérieur vers l’extérieur, à travers de délicieuses et saines formules à base de Matcha.</p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Quels sont les principaux bienfaits?</button>

   <div class="panel">
   <p><span style="font-weight: 400;">Ce mélange crémeux combine la puissance de 3 super ingrédients pour te faire briller de l'intérieur !&nbsp;</span></p>

   <ul>
   	<li style="font-weight: 400;"><span style="font-weight: 400;">Une énergie stable et durable : 4 à 6 heures d'énergie. Pas de “high” ni de “down” d’énergie.</span></li>
   	<li style="font-weight: 400;"><span style="font-weight: 400;">Renforce le système immunitaire : Renforce ton immunité, combat les maladies et les infections.</span></li>
   	<li style="font-weight: 400;"><span style="font-weight: 400;">Peau éclatante, cheveux et ongles en santé : Améliore l'aspect jeune de la peau et aide les cheveux et les ongles à rester forts. </span></li>
   </ul>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Ingrédients, valeurs nutritionnelles et portions ?</button>

   <div class="panel">
   <p><span style="font-weight: 400;">Chaque portion contient :</span></p>

   <p><span style="font-weight: 400;">5g de collagène marin ultra pur, 1g de Matcha Cérémonie bio, poudre de lait de coco bio et de gomme d'acacia bio</span><br>
   <img  class="lazyload"  alt=" Nutrition Facts" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-2021-55_556x.jpg?v=1631824967"></p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Quel est son goût ?</button>

   <div class="panel">
   <p><span style="font-weight: 400;">Chaque cuillère est délicieusement crémeuse et riche.&nbsp;</span></p>

   <p><span style="font-weight: 400;">Tu apprécieras le goût doux et naturellement délicieux du Matcha à chaque gorgée.</span></p>

   <p><span style="font-weight: 400;">Il est sans sucre, tu peux donc le sucrer à ton goût avec un peu de miel ou un soupçon de sirop d'érable.&nbsp;</span></p>

   <p><span style="font-weight: 400;">*Psst ! Il n'a PAS le goût de la noix de coco.&nbsp;</span></p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Quand dois-je le boire ?</button>

   <div class="panel">
   <p><span style="font-weight: 400;">N’importe quand ou lorsque tu désires te mettre en valeur et rayonner !</span></p>

   <p><span style="font-weight: 400;">N'oublie pas, ne le bois pas la nuit si tu as l'intention de dormir - Le Matcha Collagène Teangle te donnera 4 à 6 heures d'énergie stable et durable !&nbsp;</span></p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Comment le préparer ?</button>

   <div class="panel">
   <p><span style="font-weight: 400;">Ajoute 1 à 2 cuillères dans environ 250 ml d'eau chaude et remue - Voilà, c'est tout !</span></p>

   <p><span style="font-weight: 400;">Astuce : Utilise un mixeur ou un fouet pour faire mousser ton Matcha Collagène. Tu peux le sucrer à ton goût avec un peu de miel, un soupçon de sirop d'érable ou ton lait végétal préféré.&nbsp;</span><br>
   <img alt="Comment le préparer?" src="https://cdn.shopify.com/s/files/1/1835/6147/files/How-to-gif-FR_500x.gif?v=1610652944"></p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Combien de caféine contient-il et puis-je le boire avec un autre Matcha Teangle ?</button>

   <div class="panel">
   <p><span style="font-weight: 400;">Le Matcha Collagène Teangle contient 25-35 mg de caféine par portion (3-4 fois moins qu'une tasse de café).&nbsp;</span></p>

   <p><span style="font-weight: 400;">Si tu veux en boire deux, nous ne pouvons pas t’en vouloir ! Tu as le feu vert, mais assure-toi de ne pas dépasser 400 milligrammes (mg) de caféine par jour </span><i><span style="font-weight: 400;">!&nbsp;</span></i></p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <button class="accordionc">Combien de temps prend la livraison?</button>

   <div class="panel">
   <p>89% des commandes sont expédiées sous 2 jours ouvrés. Vous recevrez un e-mail avec des informations de suivi une fois votre commande expédiée.</p>
   <p>Une fois expédiées, les commandes prennent normalement 2 à 4 jours ouvrables (expédition express) ou 4 à 6 jours ouvrables (expédition standard).</p>
   <p>Nous traitons et expédions les commandes du lundi au vendredi, de 7 h 00 à 14 h 30 HE. Les commandes passées en dehors de ces heures seront traitées le jour ouvrable suivant.</p>
   <p>Nous sommes fermés le samedi et le dimanche. Si vous passez votre commande après 14 h 30 HE le vendredi, votre commande sera traitée le lundi matin.</p>

   <p><a href="#top" style=" color: #ed63a0; ">Clique-ici pour choisir tes pots maintenant</a></p>
   </div>
   <script>
       var acc = document.getElementsByClassName("accordionc");
       var i;

       for (i = 0; i < acc.length; i++) {
         acc[i].addEventListener("click", function() {
           this.classList.toggle("active");
           var panel = this.nextElementSibling;
           if (panel.style.maxHeight) {
             panel.style.maxHeight = null;
           } else {
             panel.style.maxHeight = panel.scrollHeight + "px";
           }
         });
       }
       </script></div>
   </div>



   {% endif %}
