{% if request.locale.iso_code == 'en' %}



<div class="page-width faq_block pblock">
   <header class="section-header">
      <p class="h5" style=" font-weight: 600; color: #D19B71; ">Frequently Asked Questions</p>
      <h2 class="h2 product-single__title">You got questions. We got answers.</h2>
   </header>
   <div class="grid grid--uniform" style="max-width: 860px; margin: 0 auto;">
     <button class="accordionc">When should I drink my Teangle?</button>
      <div class="panel" style="">
         <p>That really depends on you and your schedule! Teangle contains caffeine, so we recommend sticking to drinking it in the morning and/or after lunch to help you power through your day.</p> 
         <p>It can also be a convenient pick-me-up before that important presentation or if you’re working late into the night (healthcare workers & overachievers, we got you!).</p>
         <p>Not to mention, you can drink it before your workout and/or yoga session for that clean energy boost and focus.</p>
      </div>
      <button class="accordionc">How do I prepare my Teangle?</button>
      <div class="panel" style="">
         <p>Glad you asked! You can shake up your Teangle in a matter of seconds. Just watch!</p>
         <p><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F620762755413246%2F&amp;show_text=0&amp;width=267" width="267" height="476" style="border: none; overflow: hidden;" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe></p>
         <p>To maximize benefits, you’ll want to take 2-4 servings per day (in the morning, after lunch or before a workout).</p>
      </div>
      <button class="accordionc">Why is Teangle great for energy?</button>
      <div class="panel" style="">
         <p>Love a little liquid pick me up, but dread the crash? Us too. </p>

         <p>Coffee is good for a quick energy boost—it just often comes with a side of jitters and afternoon slump. </p>

         <p>If you’re looking for extra productivity, creativity and cognitive support to tackle whatever your day has in store without the negative side effects of coffee, Teangle is for you!</p>

         <p><img  class="lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/offer-v1-14.jpg?v=1617135267" alt="Teangle for long lasting energy"></p>
         <p>Unlike coffee, Teangle releases its caffeine over a longer period (4-6 hours) thanks to a little amino acid called L-theanine. </p>

         <p>The L-theanine and caffeine found in Teangle puts your mind in its best possible state: stimulated, but not jittery, productive, but not anxious. All that with 3 times less caffeine than a cup of coffee ; 25-35mg of caffeine per serving to be exact!</p>

      </div>
      <button class="accordionc">How long does shipping take?</button>
      <div class="panel" style="">
         <p>89% of orders ship within 2 business days. You will receive an email with tracking information once your order ships.</p>

         <p>Once shipped, orders normally usually take 2-4 business days (Express Shipping) or 4-6 business days (Standard Shipping).</p>

         <p>We process and ship orders Monday through Friday, 7 AM to 2:30PM ET. Orders placed outside of these hours will be processed the next business day.</p>

         <p>We are closed Saturday and Sunday. If you place your order after 2:30 PM ET on Friday, your order will be processed on Monday morning.</p>
 
      </div>
       
      <script>
         var acc = document.getElementsByClassName("accordionc");
         var i;

         for (i = 0; i < acc.length; i++) {
           acc[i].addEventListener("click", function() {
             this.classList.toggle("active");
             var panel = this.nextElementSibling;
             if (panel.style.maxHeight) {
               panel.style.maxHeight = null;
             } else {
               panel.style.maxHeight = panel.scrollHeight + "px";
             }
           });
         }
      </script>
  <div class="page-width">
      <div class="grid" style="margin-top: 25px; font-size: 18px; margin-left:10px;">
          <p style="margin: 0;"> Have any more questions or need help with anything? </p>
          <p> Email us at <a href="mailto:info@teangle.com"> info@teangle.com</a> </p>
      </div>
      </div>
  
</div>

{% else %}


<div class="page-width pblock">
   <div>
      <div class="rtee">
         <div class="page-width">
            <header class="section-header">
               <p class="h5" style=" font-weight: 600; color: #27cc7d; ">Les questions fr&eacute;quemment pos&eacute;es</p>
               <h2 class="h2 product-single__title">Tu as des question. Nous avons les r&eacute;ponses.</h2>
            </header>
            <div class="grid grid--uniform" style="max-width: 860px; margin: 0 auto;">
               <button class="accordionc">Quand devrais-je boire mon Teangle?</button>
               <div class="panel">
                  <p>Cela dépend vraiment de toi et de ton emploi du temps ! Teangle contient de la caféine, nous recommandons donc de t’en tenir au matin et/ou tôt l’après-midi pour vous aider à passer la journée.</p>

                  <p>Cela peut également être un remontant pratique avant une présentation importante ou si tu travailles tard la nuit (travailleurs de la santé et surperformants, on a ce qu’il te faut !)</p>

                  <p>Sans oublier que tu peux en boire avant ta séance d'entraînement et/ou de yoga pour un regain d'énergie et de concentration.</p>

               </div>
               <button class="accordionc">Comment préparer mon Teangle ?</button>
               <div class="panel">
                  <p>Heureux que tu aies demandé ! Il s’agit simplement de secouer ton Teangle dans une bouteille en quelques secondes. Regarde!</p>
                  <p><iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="476" scrolling="no" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F569891477069568%2F&amp;show_text=0&amp;width=267" style="border:none;overflow:hidden" width="267"></iframe></p>
                  <p>Pour maximiser les bienfaits, tu voudras en prendre 2 à 4 portions par jour (le matin, après le déjeuner ou avant une séance d'entraînement).</p>
               </div>
               <button class="accordionc">Pourquoi Teangle est-il idéal pour donner de l'énergie ?</button>
               <div class="panel">
                  <p>T’aimes avoir un petit remontant, mais tu redoute le crash de l’après-midi? Nous aussi!</p> 

                  <p>Le café est bon pour un regain d'énergie rapide - il s'accompagne souvent de nervosité et de fatigue dès que l'après-midi se pointe.</p>

                  <p>Si tu recherches une productivité, une créativité et un soutien cognitif supplémentaires pour faire face à tout ce que ta journée te réserve sans les effets secondaires négatifs du café, Teangle est pour toi !</p>

                  <p><img  class="lazyload" alt="Pourquoi Teangle est-il idéal pour donner de l'énergie" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/offer-v1-14.jpg?v=1617135267" /></p>
                  <p>Contrairement au café, Teangle libère sa caféine sur une plus longue période (4-6 heures) grâce à un petit acide aminé appelé L-théanine. </p>

                  <p>La L-théanine et la caféine présentes dans Teangle mettent ton esprit dans le meilleur état possible : stimulé, mais pas nerveux, productif, mais pas anxieux. Tout cela avec 3 fois moins de caféine qu'une tasse de café; 25-35mg de caféine par portion pour être exact !</p>

                  </div>
                
               <button class="accordionc">Combien de temps prend la livraison?</button>
               <div class="panel">
                  <p>89% des commandes sont expédiées sous 2 jours ouvrés. Vous recevrez un e-mail avec des informations de suivi une fois votre commande expédiée.</p>

                  <p>Une fois expédiées, les commandes prennent normalement 2 à 4 jours ouvrables (expédition express) ou 4 à 6 jours ouvrables (expédition standard).</p>

                  <p>Nous traitons et expédions les commandes du lundi au vendredi, de 7 h 00 à 14 h 30 HE. Les commandes passées en dehors de ces heures seront traitées le jour ouvrable suivant.</p>

                  <p>Nous sommes fermés le samedi et le dimanche. Si vous passez votre commande après 14 h 30 HE le vendredi, votre commande sera traitée le lundi matin.</p>

               </div>
               <script>
                  var acc = document.getElementsByClassName("accordionc");
                  var i;

                  for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                      this.classList.toggle("active");
                      var panel = this.nextElementSibling;
                      if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                      } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                      }
                    });
                  }
               </script>
            </div>
         </div>
      </div>
   </div>
</div>


{% endif %}
