{% if request.locale.iso_code == 'fr' %}


   <div class="page-width pblock discover_teangle">
      <div class="grid grid--uniform">
         <div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
            <div class="discover_col1">
               <h1 style="font-weight: 600;margin-top: -60px; ">D&eacute;couvre comment <strong>Teangle</strong> peut t&rsquo;aider &agrave; briller autant de l&rsquo;int&eacute;rieur qu&rsquo;&agrave; l&rsquo;ext&eacute;rieur!</h1>
              <p class="omobile" ><iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="476" scrolling="no" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F569891477069568%2F&amp;show_text=0&amp;width=267" style="border:none;overflow:hidden" width="267"></iframe></p>
           
              <div class="discover_col1a hide">
                  <div class="discover_col1a1"><img class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/teangle_baicons_6.png" /></div>
                  <div class="discover_col1a2">
                     <h4>Favorise une saine gestion du poids</h4>
                     <ul>
                        <li>Active le m&eacute;tabolisme</li>
                        <li>Diminue les fringales</li>
                        <li>Emp&ecirc;che le corps d&rsquo;accumuler l&#39;exc&egrave;s de graisse</li>
                     </ul>
                  </div>
               </div>
               <div class="discover_col1b">
                  <div class="discover_col1b1"><img class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/teangle_baicons_5.png" /></div>
                  <div class="discover_col1b2">
                     <h4>&Eacute;NERGIE DURABLE</h4>
                     <ul>
                        <li>Une &eacute;nergie qui dure de 4 &agrave; 6 heures</li>
                        <li>Pas de &ldquo;crash&rdquo; &eacute;nerg&eacute;tique comme le caf&eacute; ou les boissons &eacute;nergissantes</li>
                        <li>Diminue le stress et l&rsquo;anxi&eacute;t&eacute;</li>
                     </ul>
                  </div>
               </div>
               <div class="discover_col1b">
                  <div class="discover_col1b1"><img class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/teangle_baicons_10.png" /></div>
                  <div class="discover_col1b2">
                     <h4>EFFET D&Eacute;TOXIFIANT</h4>
                     <ul>
                        <li>R&eacute;duit les ballonnements et les inflammations</li>
                        <li>Promeut une peau saine</li>
                        <li>Renforce le syst&egrave;me immunitaire</li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="grid__item medium-up--one-half aos-init aos-animate odekstop" data-aos="row-of-2">
            <div class="discover_col1">
              <!-- <img class="lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/offer-v1-13.jpg?v=1617135267" /> -->
            <iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="856" scrolling="no" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F569891477069568%2F&amp;show_text=0&amp;width=480" style="border:none;overflow:hidden" width="480"></iframe>
            </div>
         </div>
      </div>
   </div>


{% else %}


   <div class="page-width pblock discover_teangle">
      <div class="grid grid--uniform">
         <div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
          
            <div class="discover_col1">
              <h1 style="font-weight: 600; margin-top: -60px;"> Discover How <strong>Teangle</strong> Can Help You <strong>Glow</strong> From the Inside Out!</h1>
               <p class="omobile"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F620762755413246%2F&amp;show_text=0&amp;width=267" width="267" height="476" style="border: none; overflow: hidden;" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe></p>
         
              <div class="discover_col1a hide">
                  <div class="discover_col1a1"><img class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/teangle_baicons_6.png" /></div>
                  <div class="discover_col1a2">
                    <h4>PROMOTES HEALTHY WEIGHT MANAGEMENT</h4>
                    <ul>
                      <li>Speeds up your Metabolism</li>
                      <li>Reduces Cravings</li>
                      <li>Prevents the body from storing excess fat</li>
                    </ul>
                  </div>
               </div>
               <div class="discover_col1b">
                  <div class="discover_col1b1"><img class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/teangle_baicons_5.png" /></div>
                  <div class="discover_col1b2">
                    <h4>Clean Energy</h4>
                    <ul>
                      <li> 4-6 hours of clean-long lasting energy</li>
                      <li>No energy “crash” like coffee or energy drinks</li>
                      <li>No jitters or anxiety</li>
                    </ul>
                  </div>
               </div>
               <div class="discover_col1b">
                  <div class="discover_col1b1"><img class="lazyload" src="https://cdn.shopify.com/s/files/1/1835/6147/files/teangle_baicons_10.png" /></div>
                  <div class="discover_col1b2">
                    <h4>Detox Effect</h4>
                    <ul>
                      <li>Reduces bloating and inflammation</li>
                      <li>Promotes healthy &amp; glowing skin</li>
                      <li>Boosts your body’s immune system</li>
                    </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="grid__item medium-up--one-half aos-init aos-animate odekstop" data-aos="row-of-2">
            <div class="discover_col1">

              <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fteanglematcha%2Fvideos%2F620762755413246%2F&amp;show_text=0&amp;width=480" width="480" height="856" style="border: none; overflow: hidden;" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true"></iframe>
            </div>
         </div>
      </div>
   </div>


{% endif %}
<style>
  @media only screen and (max-width: 768px) {
  .ncfcol h3 {font-size: 14px;}
    .colg_secv2_5c h1 {  font-size: 15px; padding: 20px 10px;  }
  }
</style>
