{% if request.locale.iso_code == 'fr' %}  
<div class="lp1_sec17" style=" background: #fff; margin: 0; padding: 30px 0; ">
  <div class="page-width feature-row-wrapper">
    <div class="feature-row">
      <div class="feature-row__item aos-init aos-animate" style="max-width: 440px" data-aos="">
        <div>
          <a href="#shopnow">
            <div class="image-wrap" style="height: 0; padding-bottom: 150.00000000000003%; border-radius: 20px;">
              <img class="feature-row__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 750, 900, 1080]" data-aspectratio="0.6666666666666666" data-sizes="auto" alt="" data-ly-processed="1683579032949" data-srcset="//cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_180x.gif?v=1672778058 180w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_360x.gif?v=1672778058 360w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_540x.gif?v=1672778058 540w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_750x.gif?v=1672778058 750w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_900x.gif?v=1672778058 900w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_1080x.gif?v=1672778058 1080w" sizes="440px" srcset="//cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_180x.gif?v=1672778058 180w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_360x.gif?v=1672778058 360w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_540x.gif?v=1672778058 540w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_750x.gif?v=1672778058 750w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_900x.gif?v=1672778058 900w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_1080x.gif?v=1672778058 1080w">
            </div>
          </a>
        </div>
      </div>
      <div class="feature-row__item feature-row__text feature-row__text--left text-left aos-init aos-animate" data-aos="">
        <div class="subheading appear-delay">SANS TRACAS</div>
        <div class="h1 appear-delay-1">Prêt à boire en moins de 15 secondes. </div>
        <div class="rte appear-delay-2">
          <p>Savoure les saveurs et les bienfaits du matcha sans sacrifier ton temps grâce à des options rapides et faciles à préparer.</p>
        </div>
        <div class="appear-delay-3">
          <a href="#shopnow" class="btn btn--revert  btn--small" style=" background-color: transparent; color: #1e4845; border: 2px solid #1e4845; "> ACHETER MAINTENANT </a>
        </div>
      </div>
    </div>
  </div>
</div>
  {% else %} 
<div class="lp1_sec17" style=" background: #fff; margin: 0; padding: 30px 0; ">
  <div class="page-width feature-row-wrapper">
    <div class="feature-row">
      <div class="feature-row__item aos-init aos-animate" style="max-width: 440px" data-aos="">
        <div>
          <a href="#shopnow">
            <div class="image-wrap" style="height: 0; padding-bottom: 150.00000000000003%; border-radius: 20px;">
              <img class="feature-row__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 750, 900, 1080]" data-aspectratio="0.6666666666666666" data-sizes="auto" alt="" data-ly-processed="1683579032949" data-srcset="//cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_180x.gif?v=1672778058 180w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_360x.gif?v=1672778058 360w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_540x.gif?v=1672778058 540w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_750x.gif?v=1672778058 750w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_900x.gif?v=1672778058 900w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_1080x.gif?v=1672778058 1080w" sizes="440px" srcset="//cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_180x.gif?v=1672778058 180w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_360x.gif?v=1672778058 360w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_540x.gif?v=1672778058 540w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_750x.gif?v=1672778058 750w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_900x.gif?v=1672778058 900w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/how-to-make-matcha_1080x.gif?v=1672778058 1080w">
            </div>
          </a>
        </div>
      </div>
      <div class="feature-row__item feature-row__text feature-row__text--left text-left aos-init aos-animate" data-aos="">
        <div class="subheading appear-delay">HASSLE-FREE</div>
        <div class="h1 appear-delay-1">Ready to drink in less than 15 seconds.</div>
        <div class="rte appear-delay-2">
          <p>Enjoy all the benefits and delicious flavors of matcha - in less than a minute!</p>
        </div>
        <div class="appear-delay-3">
          <a href="#shopnow" class="btn btn--revert  btn--small" style=" background-color: transparent; color: #1e4845; border: 2px solid #1e4845; "> BUY NOW </a>
        </div>
      </div>
    </div>
  </div>
</div>
    {% endif %}  