{% if request.locale.iso_code == 'fr' %}  

  {% else %}  
  <div class="lp1_sec19">
    <div class="page-width text-center">
      <h2>Perfect for your busy lifestyle!</h2>
      <p>Drink your Teangle twice a day and be amazed by the positive energy ❤️</p>
      <div style=" padding: 30px 0 0; ">
        <div class="video-wrapper">
          <iframe src="https://player.vimeo.com/video/557166159?h=9631412b3f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Starter-Pack-16-9-EN.mp4" data-ready="true"></iframe>
        </div>
      </div>
      <div class="hmes7icta">
        <p>Filled to the brim with nutrients and vitamins waiting to flow through your body and strengthen everything from your energy to the strands of your hair.</p>
        <p>
          <a href="#shopnow" class="btn">GET STARTED</a>
          <br>
          <span>30 day money-back guarantee</span>
        </p>
      </div>
    </div>   
  </div>
  {% endif %}  