{% if request.locale.iso_code == 'fr' %}
<div class="page-width">
   <div class="ncfacts_wrap text-center">
      <div class="ncfcol">
         <h3>Collagène</h3>
         <h4>5g</h4>
      </div>
      <div class="ncfcol">
         <h3>Calories</h3>
         <h4>60</h4>
      </div>
      <div class="ncfcol">
         <h3>Matcha</h3>
         <h4>1g</h4>
      </div>
      <div class="cb">&nbsp;</div>
   </div>

<p class="medium-up--hide text-center">
  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTeangleMatcha%2Fvideos%2F1145723089531463&width=360&show_text=false&height=639&appId" width="360" height="580" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  </p>
  
</div>
<div class="page-width collagen-l2">
   <div class="feature-row aos-init aos-animate">
        <img class="odesktop lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-icons-2022-FR2.png?v=1648057052" data-ly-processed="1650546549644"> 
     <img class="omobile lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-icons-2022-FRm3.png?v=1648057052" style="max-width: 90%;" data-ly-processed="1650546549644">
    </div>
</div>
<section class="colg_secv2_5_b">
   <div class="page-width colg_secv2_5c " style="padding: 3vw 0 0; max-width: 1000px;">
      <div class="text-center">
         <h1>1 portion de Matcha Collag&egrave;ne Teangle par jour pour donner &agrave; ta peau un nouvel &eacute;clat, augmenter ton &eacute;nergie et renforcir ton immunit&eacute;</h1>
      </div>
      <div class="grid grid--uniform">
         <div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
  <img  src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-landing-9_528x.png?v=1610656773" class="medium-up--hide lazyload"/>
           <p class="small--hide text-center">
           <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTeangleMatcha%2Fvideos%2F1145723089531463&width=300&show_text=false&height=533&appId" width="300" height="533" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
            </p>
  </div>
         <div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
            <ul class="memeber_lisst">
               <li>Contient 5g de collag&egrave;ne marin hydrolys&eacute;e par portion. Facile &agrave; dig&eacute;rer pour une biodisponibilit&eacute; et une efficacit&eacute; maximales. Provient d&rsquo;une p&ecirc;che durable en Atlantique du nord (sans hormones ni antibiotiques).</li>
               <li>Contient 1g de Matcha japonais cultiv&eacute; au Japon. Issue de l&rsquo;agriculture biologique et de haute qualit&eacute;.</li>
               <li>Test&eacute; et appr&eacute;ci&eacute; par des milliers d&#39;autres femmes comme toi qui voulaient revitaliser de l&rsquo;int&eacute;rieur vers l&rsquo;ext&eacute;rieur.</li>
               <li>Go&ucirc;te comme un latte instantan&eacute; mais sans les calories. Seulement 60 calories par portion.</li>
            </ul>
         </div>
      </div>
   </div>
   <div class="page-width colg_secv2_5c " style="padding: 1vw 0; max-width: 1000px;">
      <div class="text-center">
         <h2>Simple, Facile et D&eacute;licieux:</h2>
         <p>L&rsquo;une des habitude les plus saines &agrave; ajouter &agrave; ton quotidien</p>
         <div style=" padding: 30px 0 0; ">
            <div class="video-wrapper"><iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" frameborder="0" height="560" src="https://player.vimeo.com/video/555770484?h=30e8ab3476&amp;muted=1&amp;background=1&amp;autoplay=1&amp;loop=1&amp;autopause=0" width="1080"></iframe></div>
         </div>
      </div>
   </div>
</section>

{% else %}
<div class="page-width">
   <div class="ncfacts_wrap text-center">
      <div class="ncfcol">
         <h3>Collagen</h3>
         <h4>5g</h4>
      </div>
      <div class="ncfcol">
         <h3>Calories</h3>
         <h4>60</h4>
      </div>
      <div class="ncfcol">
         <h3>Matcha</h3>
         <h4>1g</h4>
      </div>
      <div class="cb">&nbsp;</div>
   </div>
  <p class="medium-up--hide text-center">
   <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTeangleMatcha%2Fvideos%2F5039858709425754%2F&width=360&show_text=false&height=639&appId" width="360" height="570" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  </p>
</div>
<div class="page-width collagen-l2">
   <div class="feature-row aos-init aos-animate ">
     <img class="lazyload odesktop" src="//cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-icons-2022-EN.png?v=1647969140" > 
     <img class="lazyload omobile" src="//cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-icons-2022-ENm2.png?v=1647969140" style="max-width: 90%;"  >
</div>
<section class="colg_secv2_5_b">
   <div class="page-width colg_secv2_5c " style="padding: 3vw 0 0; max-width: 1000px;">
      <div class="text-center">
         <h1>1 serving of Teangle's Matcha Collagen per day is enough to give your skin a new glow, increase your energy and boost your immune system;</h1>
      </div>
      <div class="grid grid--uniform">
         <div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
           
           <img  src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/collagen-landing-9_528x.png?v=1610656773" class="medium-up--hide lazyload"/>
           <p class="small--hide text-center">
           <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FTeangleMatcha%2Fvideos%2F5039858709425754%2F&width=300&show_text=false&height=533&appId" width="300" height="533" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
           </p>
         </div>
         <div class="grid__item medium-up--one-half aos-init aos-animate" data-aos="row-of-2">
            <ul class="memeber_lisst">
                <li>Contains 5g of pure marine hydrolyzed collagen. Easy to digest and is considered the most bioavailable form of collagen giving the best results! Sourced from wild-caught cod in the North Atlantic (no hormones or antibiotiques).</li>
                <li>Contains 1g of Ceremonial grade Matcha. Harvested from an organic farm in Japan.</li>
                <li>Tested and loved by thousands of women that were looking for a healthier alternative to their morning coffee.</li>
                <li>A commitment you can stick to that helps you kickstart your day!.</li>
            </ul>
         </div>
      </div>
   </div>
   <div class="page-width colg_secv2_5c " style="padding: 1vw 0; max-width: 1000px;">
      <div class="text-center">
         <h2>Hassle-Free & Naturally Delicious</h2>
         <p>Look how easy it is to prepare!</p>
         <div style=" padding: 30px 0 0; ">
            <div class="video-wrapper"><iframe allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" frameborder="0" height="560" src="https://player.vimeo.com/video/555782647?h=30e8ab3476&amp;muted=1&amp;background=1&amp;autoplay=1&amp;loop=1&amp;autopause=0" width="1080"></iframe></div>
         </div>
      </div>
   </div>
</section>
{% endif %}
<style type="text/css">.collagen-l1 ,  .collagen-l2 , .collagen-l3  , .collagen-l4 , .collagen-l5 { max-width: 1100px; } 
  
 .collagen-l3  , .collagen-l4 , .collagen-l5 { padding: 3vw 0 1vw; }
  
  
 /* #footer_cols , .site-footer , .announcement-bar , .header-item--navigation , .header-item--icons ,  .Friendbuy-ribbon-transition {
    padding: 20px 20px 15px;
    display: none !important;
} 
 .btn {
    background: #8bdef0 !important;
    border-color: #8bdef0 !important;
    color: #fff !important;
    padding: 17px 20px !important;
    font-size: 16px !important;
    line-height: 1.7 !important;
} */
  
  
.countdown-container  { display: block; color: #333; margin: -10px auto -10px; padding: .5rem; text-align: center; background: #fff;}
  .countdown-container li{display:inline-block;font-size:12px;list-style-type:none;padding:10px;text-transform:uppercase}
  .countdown-container li span{display:block;font-size:1.5rem}  
  .video-wrapper {height: 0 !important; }
  .header-item--logo { margin: 0 auto; }
  .ncfacts_wrap { margin: 0 auto 2vw; overflow: auto; max-width: 800px; }
  .ncfcol { width:  33% ; float:  left;  }
  .ncfcol h3 { font-weight: 800; color: #f14f98; margin: 0; }
  .ncfcol h4 { font-size: 28px; text-transform: none; letter-spacing: 0; }
  .nfc_ingredients { padding: 20px 0 35px; }
  .nfc_ingredients h4 { margin: 0 0 15px;  }
  .nfc_ingredients ul { list-style: none; margin: 0; padding: 0; }
  .nfc_ingredients ul li { padding: 8px 0; }
  .nfcing_img { width: 70px; float: left; }
  .nfcing_title { float: left; padding-left: 10px; padding-top: 10px; font-weight: 600; font-size: 18px; }
  .colg_secv2_5c h1 { margin: 0 0 40px; font-size: 1.67em; padding: 20px 30px; background: #f0fbff; font-weight: 600; }

 @media only screen and (max-width: 768px) { 

   .index-section {
    margin: 0px 0 !important;
    padding: 22px 0 !important;
}
.feature-row__text {
    padding-top: 25px !important;
    padding-bottom: 30px;
}
.nfcing_title {  font-size: 15px; }
.memeber_lisst { margin: 20px 0 0; }
.nfcing_img { width: 55px; }
 }
</style>
