{% if request.locale.iso_code == 'fr' %}  
<div class="lp1_sec5">
  <div class="lp1_sec5i">
        <div class="page-width page-width-narrow">
          <div class="grid">
            <div class="lp1s5head grid__item text-center">
              <h2>NOUS VS Autres Marques</h2>
            </div>
            <div class="grid__item">
              <div class="lp1s5tab">
                <div class="lp1s5row lp1s5rh">
                  <div class="grid">
                    <div class="grid__item one-third  lp1s5rta">
                      <p><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/logo_long_brand_100x.png?v=1658141070" class="lazyload lazy" style=" max-width: 100px; padding-top: 20px; "></p>
                    </div>
                    <div class="grid__item one-third  "></div>
                    <div class="grid__item one-third  ">
                      <p style="font-size: 16px;font-weight: 800;line-height: 1;color: #1f4845;padding-top: 15px; text-align: right;"> <span>AUTRES MARQUES</span> </p>
                    </div>
                  </div>
                </div>
                <div class="lp1s5row lp1s5rt">
                  <div class="grid">
                    <div class="grid__item one-fifth lp1s5rta">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_check.svg?v=1664460126">
                    </div>
                    <div class="grid__item three-fifths">
                      <p>Matcha  <br class="medium-up--hide"> biologique</p>
                    </div>
                    <div class="grid__item one-fifth lp1s5rtb">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_cross.svg?v=1664460126">
                    </div>
                  </div>
                </div>
                <div class="lp1s5row lp1s5rt">
                  <div class="grid">
                    <div class="grid__item one-fifth lp1s5rta">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_check.svg?v=1664460126">
                    </div>
                    <div class="grid__item three-fifths">
                      <p>Vrais ingrédients.  <br class="medium-up--hide">Sans saveur artificielle</p>
                    </div>
                    <div class="grid__item one-fifth lp1s5rtb">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_cross.svg?v=1664460126">
                    </div>
                  </div>
                </div>
                <div class="lp1s5row lp1s5rt">
                  <div class="grid">
                    <div class="grid__item one-fifth lp1s5rta">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_check.svg?v=1664460126">
                    </div>
                    <div class="grid__item three-fifths">
                      <p>Matcha provenant <br class="medium-up--hide"> du Japon</p>
                    </div>
                    <div class="grid__item one-fifth lp1s5rtb">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_cross.svg?v=1664460126">
                    </div>
                  </div>
                </div>
                <div class="lp1s5row lp1s5rt">
                  <div class="grid">
                    <div class="grid__item one-fifth lp1s5rta">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_check.svg?v=1664460126">
                    </div>
                    <div class="grid__item three-fifths">
                      <p>Testé pour <br class="medium-up--hide"> les toxines</p>
                    </div>
                    <div class="grid__item one-fifth lp1s5rtb">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_cross.svg?v=1664460126">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    {% else %}

  <div class="lp1_sec5">
  <div class="lp1_sec5i">
        <div class="page-width page-width-narrow">
          <div class="grid">
            <div class="lp1s5head grid__item text-center">
              <h2>US vs Them</h2>
            </div>
            <div class="grid__item">
              <div class="lp1s5tab">
                <div class="lp1s5row lp1s5rh">
                  <div class="grid">
                    <div class="grid__item one-third  lp1s5rta">
                      <p><img src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/logo_long_brand_100x.png?v=1658141070" class="lazyload lazy" style=" max-width: 100px; padding-top: 20px; "></p>
                    </div>
                    <div class="grid__item one-third  "></div>
                    <div class="grid__item one-third  ">
                      <p style="font-size: 16px;font-weight: 800;line-height: 1;color: #1f4845;padding-top: 15px; text-align: right;"> <span>OTHER BRANDS</span> </p>
                    </div>
                  </div>
                </div>
                <div class="lp1s5row lp1s5rt">
                  <div class="grid">
                    <div class="grid__item one-fifth lp1s5rta">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_check.svg?v=1664460126">
                    </div>
                    <div class="grid__item three-fifths">
                      <p>ORGANIC <br class="medium-up--hide"> MATCHA</p>
                    </div>
                    <div class="grid__item one-fifth lp1s5rtb">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_cross.svg?v=1664460126">
                    </div>
                  </div>
                </div>
                <div class="lp1s5row lp1s5rt">
                  <div class="grid">
                    <div class="grid__item one-fifth lp1s5rta">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_check.svg?v=1664460126">
                    </div>
                    <div class="grid__item three-fifths">
                      <p>REAL INGREDIENTS. <br class="medium-up--hide">NO ARTIFICIAL  FLAVORING</p>
                    </div>
                    <div class="grid__item one-fifth lp1s5rtb">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_cross.svg?v=1664460126">
                    </div>
                  </div>
                </div>
                <div class="lp1s5row lp1s5rt">
                  <div class="grid">
                    <div class="grid__item one-fifth lp1s5rta">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_check.svg?v=1664460126">
                    </div>
                    <div class="grid__item three-fifths">
                      <p>MATCHA IS SOURCED <br class="medium-up--hide">FROM JAPAN</p>
                    </div>
                    <div class="grid__item one-fifth lp1s5rtb">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_cross.svg?v=1664460126">
                    </div>
                  </div>
                </div>
                <div class="lp1s5row lp1s5rt">
                  <div class="grid">
                    <div class="grid__item one-fifth lp1s5rta">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_check.svg?v=1664460126">
                    </div>
                    <div class="grid__item three-fifths">
                      <p>TESTED FOR <br class="medium-up--hide">TOXINS</p>
                    </div>
                    <div class="grid__item one-fifth lp1s5rtb">
                      <img class="lazy lazyload" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle_cross.svg?v=1664460126">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
      <style>
        
        .lp1s5tab img {margin: 0 auto; max-width: 40px; padding: 5px 0 0;}
        .lp1_sec5i { max-width: 960px; margin: 0 auto; padding:  20px 0 calc(30px + 2vw);}
        .lp1s5tab { margin: 10px auto; max-width: 760px; text-align: center; } 
        .lp1s5tab .grid { border-bottom: 1px solid #ddd; padding: 5px 0vw 15px; margin-bottom: 10px; } 
        .lp1s5rt { font-size: 16px; font-weight: 600; } 
        .lp1s5rh { font-size: 18px; font-weight: 600; } 
        .lp1s6head { max-width: 680px; margin: 0 auto 35px; }
        .lp1s5row .three-fifths p { padding: 10px 0 0; }
        .lp1s5rh .grid , .lp1s5rt:nth-child(5) .grid { border: none;}
        .lp1s5rta img { float: left; }
        .lp1s5rtb img { float: right; }
      </style>