{% if request.locale.iso_code == 'fr' %}  
<div class="lp1_sec18" style=" background: #f1e3d3; padding: 20px 0; ">
  <div class="page-width feature-row-wrapper">
    <div class="feature-row">
      <div class="feature-row__item feature-row__text feature-row__text--right text-left aos-init aos-animate" data-aos="">
        <div class="subheading appear-delay">PAS DE CRASH D'ÉNERGIE. </div>
        <div class="h1 appear-delay-1">Contrairement au café ou aux boissons énergisantes, le matcha Teangle t'apporte une énergie stable. </div>
        <div class="appear-delay-2">
          <a href="#shopnow" class="btn btn--revert  btn--small" style=" background-color: transparent; color: #1e4845; border: 2px solid #1e4845; "> COMMENCE MAINTENANT </a>
        </div>
      </div>
      <div class="feature-row__item aos-init aos-animate" style="max-width: 700px" data-aos="">
        <div>
          <a href="#shopnow">
            <div class="image-wrap" style="height: 0; padding-bottom: 67.10696920583469%;">
              <img class="feature-row__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 750, 900, 1080]" data-aspectratio="0.9793650793650793" data-sizes="auto" alt=""  data-srcset="//cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_180x.png?v=1672781383 180w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_360x.png?v=1672781383 360w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_540x.png?v=1672781383 540w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_750x.png?v=1672781383 750w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_900x.png?v=1672781383 900w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_1080x.png?v=1672781383 1080w" sizes="622px" srcset="//cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_180x.png?v=1672781383 180w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_360x.png?v=1672781383 360w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_540x.png?v=1672781383 540w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_750x.png?v=1672781383 750w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_900x.png?v=1672781383 900w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-37_1080x.png?v=1672781383 1080w">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>  
</div>
  {% else %} 
<div class="lp1_sec18" style=" background: #f1e3d3; padding: 20px 0; ">
  <div class="page-width feature-row-wrapper">
    <div class="feature-row">
      <div class="feature-row__item feature-row__text feature-row__text--right text-left aos-init aos-animate" data-aos="">
        <div class="subheading appear-delay">NO ENERGY CRASH</div>
        <div class="h1 appear-delay-1">Unlike coffee or energy drinks, Teangle matcha gives you clean long lasting energy.</div>
        <div class="appear-delay-2">
          <a href="#shopnow" class="btn btn--revert btn--small" style=" background-color: transparent; color: #1e4845; border: 2px solid #1e4845; "> GET STARTED </a>
        </div>
      </div>
      <div class="feature-row__item aos-init aos-animate" style="max-width: 700px" data-aos="">
        <div>
          <a href="#shopnow">
            <div class="image-wrap" style="height: 0; padding-bottom: 67.10696920583469%;">
              <img class="feature-row__image lazyautosizes lazyloaded" data-widths="[180, 360, 540, 750, 900, 1080]" data-aspectratio="0.9793650793650793" data-sizes="auto" alt=""  data-srcset="//cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_180x.png?v=1672781383 180w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_360x.png?v=1672781383 360w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_540x.png?v=1672781383 540w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_750x.png?v=1672781383 750w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_900x.png?v=1672781383 900w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_1080x.png?v=1672781383 1080w" sizes="622px" srcset="//cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_180x.png?v=1672781383 180w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_360x.png?v=1672781383 360w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_540x.png?v=1672781383 540w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_750x.png?v=1672781383 750w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_900x.png?v=1672781383 900w, //cdn.shopify.com/s/files/1/0263/3606/7666/files/teangle-38_1080x.png?v=1672781383 1080w">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>  
</div>
    {% endif %}  