{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 = section.settings['replo_text_af82958b-994b-4270-9ba5-ad92ec429e54'] -%}
    {%- capture default_replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 -%}<p>4 Reasons You’ll Never Go Back to Coffee</p>{%- endcapture -%}
    {%- assign replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 = replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 | default: default_replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 -%}
    "replo_text_af82958b-994b-4270-9ba5-ad92ec429e54": {{ replo_text_af82958b-994b-4270-9ba5-ad92ec429e54 | json }}, {%- assign replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 = section.settings['replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33'] | image_url -%}
    {%- capture default_replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/109fa4d6-6c77-4409-91d7-b38c0dabe5f6{%- endcapture -%}
    {%- assign replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 = replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 | default: default_replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 -%}
    "replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33": {{ replo_style_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 | json }}, {%- assign replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 = section.settings['replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33'] | image_url -%}
    {%- capture default_replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/109fa4d6-6c77-4409-91d7-b38c0dabe5f6{%- endcapture -%}
    {%- assign replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 = replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 | default: default_replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 -%}
    "replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33": {{ replo_stylesm_image_7824f8dd-6261-4bb3-b4c8-95db500c6c33 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}