{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_1bccfeaa-cc38-42a3-831a-b56997a40976 = section.settings['replo_text_1bccfeaa-cc38-42a3-831a-b56997a40976'] -%}
    {%- capture default_replo_text_1bccfeaa-cc38-42a3-831a-b56997a40976 -%}<p>Our Mission - Add Balance to Your Life!&nbsp;</p>{%- endcapture -%}
    {%- assign replo_text_1bccfeaa-cc38-42a3-831a-b56997a40976 = replo_text_1bccfeaa-cc38-42a3-831a-b56997a40976 | default: default_replo_text_1bccfeaa-cc38-42a3-831a-b56997a40976 -%}
    "replo_text_1bccfeaa-cc38-42a3-831a-b56997a40976": {{ replo_text_1bccfeaa-cc38-42a3-831a-b56997a40976 | json }}, {%- assign replo_text_a5317f83-ae11-45ae-b07c-d16b93ddabfa = section.settings['replo_text_a5317f83-ae11-45ae-b07c-d16b93ddabfa'] -%}
    {%- capture default_replo_text_a5317f83-ae11-45ae-b07c-d16b93ddabfa -%}<p>Whether you're balancing work, kids, or both, our easy, feel-good rituals are here to support your energy, mood, and glow without complicating your routine.</p>{%- endcapture -%}
    {%- assign replo_text_a5317f83-ae11-45ae-b07c-d16b93ddabfa = replo_text_a5317f83-ae11-45ae-b07c-d16b93ddabfa | default: default_replo_text_a5317f83-ae11-45ae-b07c-d16b93ddabfa -%}
    "replo_text_a5317f83-ae11-45ae-b07c-d16b93ddabfa": {{ replo_text_a5317f83-ae11-45ae-b07c-d16b93ddabfa | json }}, {%- assign replo_text_ee7e65ef-b955-4305-82ac-aeb57a7167d6 = section.settings['replo_text_ee7e65ef-b955-4305-82ac-aeb57a7167d6'] -%}
    {%- capture default_replo_text_ee7e65ef-b955-4305-82ac-aeb57a7167d6 -%}<p>-Phil, Founder</p>{%- endcapture -%}
    {%- assign replo_text_ee7e65ef-b955-4305-82ac-aeb57a7167d6 = replo_text_ee7e65ef-b955-4305-82ac-aeb57a7167d6 | default: default_replo_text_ee7e65ef-b955-4305-82ac-aeb57a7167d6 -%}
    "replo_text_ee7e65ef-b955-4305-82ac-aeb57a7167d6": {{ replo_text_ee7e65ef-b955-4305-82ac-aeb57a7167d6 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}