-97b3-51796a3fc090" aria-expanded="false" aria-controls="replo-:R5nbrj2:" tabindex="0" role="button" class="r-2nut1g"><div data-rid="fc5762a2-d470-4d59-89a6-f58370f47438" class="r-mxwjgr alchemy-rte"><span style="width:100%"><p><span>Ingredients & Quality</span></p></span></div><div data-rid="0dd059b9-3587-45dd-a5cd-2e3551dbcb5a" class="r-12gf9to" aria-hidden="true"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" role="img" aria-label="Collapse/Expand" style="width:var(--rsw, 100%);height:100%" class="r-1rpfhvv" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"></path></svg></div></div><div class="replo-animated" hidden="" id="replo-:R5nbrj2:"><div data-rid="a0a32837-fbb3-4ff2-a3b0-23f8229df228" class="r-16pp9it"><div data-rid="ab641ee7-b460-483d-9b8c-e1b5a9a2a3da" class="r-5zmen6 alchemy-rte"><span style="width:100%"><p>When it comes to ingredients, taste, and trust, Teangle stands out. We kept the good stuff (like organic matcha and marine collagen) and ditched the junk.</p><br><p><strong>OG Flavor</strong>: 5g of pure marine collagen, 1g of organic ceremonial Matcha, organic coconut milk powder and organic acacia gum</p></span></div></div></div></div></div><div data-rid="c4c2eb41-e22f-4f66-ba14-147ffc635a8d" class="r-3a87sp alchemy-rte"><span style="width:100%"><p><span>Hear What Canadians Say About Teangle 🇨🇦</span></p></span></div><div data-rid="32edfac6-1c3c-4d1d-805e-033baacc12bf" class="r-wq4mp7"><div class="reeview-app-widget" id="reeview-app-widget_6807a0c69029cf0057f41871"></div>

<style>
ul {
    margin: 0 !important
}
li {
    padding: 0 !important;
}
.okeReviews.okeReviews--theme {
    max-width: 1280px;
}
@media (max-width: 767px) {
#subscribe-dropdown select {
    font-size: 12px !important;
}
}
</style></div></div>{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<!-- -->{% assign product = reploOriginalProductRbj2 %}<!-- -->{% assign reploSelectedVariant = reploOriginalProductVariantRbj2 %}<!-- -->{% assign reploSortedSellingPlans = reploOriginalSPGRbj2 %}<!-- -->{% assign reploSelectedSellingPlan = reploOriginalSSPRbj2 %}<!-- -->{% assign reploSelectedSellingPlanPrice = reploOriginalSSPPriceRbj2 %}<!-- -->{% assign reploCompareAtPriceDifferencePercentage = reploOriginalComparePricePercentRbj2 %}<!-- -->{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}</div></div></div></div></div><style>@import url(https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@100;200;300;400;500;600;700;800;900;950)</style><style id="replo-fonts-SofiaProBold">
        @font-face {
          font-family: "SofiaProBold";
          src: url("https://cdn.shopify.com/s/files/1/0263/3606/7666/files/SofiaProBold.woff?v=1708691948") format("woff");
          font-weight: undefined;
          font-style: undefined;
        }
      </style><style id="replo-fonts-SofiaProLight">
        @font-face {
          font-family: "SofiaProLight";
          src: url("https://cdn.shopify.com/s/files/1/0263/3606/7666/files/SofiaProLight.woff?v=1708692123") format("woff");
          font-weight: undefined;
          font-style: undefined;
        }
      </style></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"7454135713874","handle": "matcha-collagen-3","data":{{ all_products['matcha-collagen-3'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }}, "moneyWithCurrencyFormat": {{ shop.money_with_currency_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}