{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_b9f3de83-dfe7-406b-85d7-25c9f7ade318 = section.settings['replo_text_b9f3de83-dfe7-406b-85d7-25c9f7ade318'] -%}
    {%- capture default_replo_text_b9f3de83-dfe7-406b-85d7-25c9f7ade318 -%}<p>Why Over 100,000 Canadians Have Replaced Coffee </p><p>With Teangle’s Delicious Matcha Collagen</p>{%- endcapture -%}
    {%- assign replo_text_b9f3de83-dfe7-406b-85d7-25c9f7ade318 = replo_text_b9f3de83-dfe7-406b-85d7-25c9f7ade318 | default: default_replo_text_b9f3de83-dfe7-406b-85d7-25c9f7ade318 -%}
    "replo_text_b9f3de83-dfe7-406b-85d7-25c9f7ade318": {{ replo_text_b9f3de83-dfe7-406b-85d7-25c9f7ade318 | json }}, {%- assign replo_style_image_e98864c3-0363-4f82-a97a-c29c5b729813 = section.settings['replo_style_image_e98864c3-0363-4f82-a97a-c29c5b729813'] | image_url -%}
    {%- capture default_replo_style_image_e98864c3-0363-4f82-a97a-c29c5b729813 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/3a49a319-9cb9-40d1-9f5d-9ac0628205e1{%- endcapture -%}
    {%- assign replo_style_image_e98864c3-0363-4f82-a97a-c29c5b729813 = replo_style_image_e98864c3-0363-4f82-a97a-c29c5b729813 | default: default_replo_style_image_e98864c3-0363-4f82-a97a-c29c5b729813 -%}
    "replo_style_image_e98864c3-0363-4f82-a97a-c29c5b729813": {{ replo_style_image_e98864c3-0363-4f82-a97a-c29c5b729813 | json }}, {%- assign replo_style_image_934f723e-5baa-458b-9521-0dcc3f1473ff = section.settings['replo_style_image_934f723e-5baa-458b-9521-0dcc3f1473ff'] | image_url -%}
    {%- capture default_replo_style_image_934f723e-5baa-458b-9521-0dcc3f1473ff -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/36012d8c-ec87-4427-aa10-94c47c154ba9{%- endcapture -%}
    {%- assign replo_style_image_934f723e-5baa-458b-9521-0dcc3f1473ff = replo_style_image_934f723e-5baa-458b-9521-0dcc3f1473ff | default: default_replo_style_image_934f723e-5baa-458b-9521-0dcc3f1473ff -%}
    "replo_style_image_934f723e-5baa-458b-9521-0dcc3f1473ff": {{ replo_style_image_934f723e-5baa-458b-9521-0dcc3f1473ff | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}