a8c77e6-4396-4f5e-95be-4e82e7008051" aria-expanded="false" aria-controls="replo-:R9dfb2:" tabindex="0" role="button" class="r-1wkk6k2"><div data-rid="700edeac-c208-465f-9413-bcb62e480489" class="r-576f1o alchemy-rte"><span style="width:100%"><p><span>Is This For You?</span></p></span></div><div data-rid="e4d14e1b-f81d-44a2-8599-20e4fce63bd4" class="r-1rbsx8u" aria-hidden="true"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" role="img" aria-label="Collapse/Expand" style="width:var(--rsw, 100%);height:auto;max-height:100%" class="r-1qidqzc" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"></path></svg></div></div><div class="replo-animated" hidden="" id="replo-:R9dfb2:"><div data-rid="b377935a-cb1f-4d9a-a3ce-a53c2f21e25e" class="r-1wzdl7n"><div data-rid="8da849c2-7d6e-42e5-bd69-be66bf1df534" class="r-1lg5l25 alchemy-rte"><span style="width:100%"><p><strong>If you're looking for a healthy daily ritual that actually makes you feel good - this is for you.</strong></p><br><ul><li><p>You want to replace coffee but still feel energized</p></li><li><p>You want healthier skin, hair, nails and a glow</p></li><li><p>You want collagen, but not in pill, capsule, or powder</p></li><li><p>You care about clean ingredients and no added sugars</p></li><li><p>You want something quick, easy, and actually delicious</p></li></ul><br><p>Sounds like you? You’ll love Matcha Collagen.</p></span></div></div></div></div><div data-rid="dcea1fc4-5aff-4b9c-b673-fea47c7262e8" class="r-12bl34y" data-replo-collapsible="true" data-state="closed" data-orientation="vertical"><div data-rid="083cba46-95e6-4d37-b24d-7474d28035a4" aria-expanded="false" aria-controls="replo-:Rbdfb2:" tabindex="0" role="button" class="r-1csk7fu"><div data-rid="aa4ad601-f40c-4783-87db-fd291b91e058" class="r-f0dai1 alchemy-rte"><span style="width:100%"><p><span>Ingredients & Quality</span></p></span></div><div data-rid="6c37b267-401d-4cb6-8c23-65f15451549d" class="r-1krtha2" aria-hidden="true"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" role="img" aria-label="Collapse/Expand" style="width:var(--rsw, 100%);height:auto;max-height:100%" class="r-14kl9cy" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"></path></svg></div></div><div class="replo-animated" hidden="" id="replo-:Rbdfb2:"><div data-rid="79fe27b9-fdea-4dcc-b954-cf594d170ccc" class="r-79a38j"><div data-rid="9548394e-e987-43e2-8e97-8d5b7d0df233" class="r-owe4y5 alchemy-rte"><span style="width:100%"><p>When it comes to ingredients, taste, and trust, Teangle stands out. We kept the good stuff (like organic matcha and marine collagen) and ditched the junk.</p><br><p><strong>OG Flavor</strong>: 5g of pure marine collagen, 1g of organic ceremonial Matcha, organic coconut milk powder and organic acacia gum</p></span></div></div></div></div></div><div data-rid="e99dbc0d-bdcf-4a82-918e-ace4cf12b343" class="r-imw1hi alchemy-rte"><span style="width:100%"><p><span>Hear What Canadians Say About Teangle 🇨🇦</span></p></span></div><div data-rid="18b46f17-2e5f-4364-806f-0d2ecf0b87dc" class="r-ola6px"><div class="reeview-app-widget" id="reeview-app-widget_6807a0c69029cf0057f41871"></div>

<style>
ul {
    margin: 0 !important
}
li {
    padding: 0 !important;
}
.okeReviews.okeReviews--theme {
    max-width: 1280px;
}
@media (max-width: 767px) {
#subscribe-dropdown select {
    font-size: 12px !important;
}
}
</style></div></div>{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<!-- -->{% assign product = reploOriginalProductR1b2 %}<!-- -->{% assign reploSelectedVariant = reploOriginalProductVariantR1b2 %}<!-- -->{% assign reploSortedSellingPlans = reploOriginalSPGR1b2 %}<!-- -->{% assign reploSelectedSellingPlan = reploOriginalSSPR1b2 %}<!-- -->{% assign reploSelectedSellingPlanPrice = reploOriginalSSPPriceR1b2 %}<!-- -->{% assign reploCompareAtPriceDifferencePercentage = reploOriginalComparePricePercentR1b2 %}<!-- -->{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}</div></div></div></div><style id="replo-fonts-SofiaProLight">
        @font-face {
          font-family: "SofiaProLight";
          src: url("https://cdn.shopify.com/s/files/1/0263/3606/7666/files/SofiaProLight.woff?v=1708692123") format("woff");
          font-weight: undefined;
          font-style: undefined;
        }
      </style></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"7508215890002","handle": "chocolate-matcha-collagen","data":{{ all_products['chocolate-matcha-collagen'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }}, "moneyWithCurrencyFormat": {{ shop.money_with_currency_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}