{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
    <script id="replo-deps-section-settings" data-section-id="{{ section.id }}">{
      {%- assign replo_text_bc9c81ef-7d2b-4309-b6f1-967c72728bfd = section.settings['replo_text_bc9c81ef-7d2b-4309-b6f1-967c72728bfd'] -%}
    {%- capture default_replo_text_bc9c81ef-7d2b-4309-b6f1-967c72728bfd -%}<p>Why Over 150,000 Canadians Have Replaced Coffee</p><p>With Teangle’s Delicious Matcha Collagen</p>{%- endcapture -%}
    {%- assign replo_text_bc9c81ef-7d2b-4309-b6f1-967c72728bfd = replo_text_bc9c81ef-7d2b-4309-b6f1-967c72728bfd | default: default_replo_text_bc9c81ef-7d2b-4309-b6f1-967c72728bfd -%}
    "replo_text_bc9c81ef-7d2b-4309-b6f1-967c72728bfd": {{ replo_text_bc9c81ef-7d2b-4309-b6f1-967c72728bfd | json }}, {%- assign replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 = section.settings['replo_style_image_08b17c60-b857-478b-9979-3f804b57f940'] | image_url -%}
    {%- capture default_replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/3a49a319-9cb9-40d1-9f5d-9ac0628205e1{%- endcapture -%}
    {%- assign replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 = replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 | default: default_replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 -%}
    "replo_style_image_08b17c60-b857-478b-9979-3f804b57f940": {{ replo_style_image_08b17c60-b857-478b-9979-3f804b57f940 | json }}, {%- assign replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 = section.settings['replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374'] | image_url -%}
    {%- capture default_replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 -%}https://assets.replocdn.com/projects/5363f8a0-20bf-48b3-8eca-625cc61f4879/36012d8c-ec87-4427-aa10-94c47c154ba9{%- endcapture -%}
    {%- assign replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 = replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 | default: default_replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 -%}
    "replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374": {{ replo_style_image_0f305a44-4da8-46b3-8288-a0ad8e589374 | json }}
    }</script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}