<div class="page-width page-width--narrow page-content">
  {%- render 'breadcrumbs' -%}
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>

  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>
</div> 

 <div id="allreviews" class="page-width text-center" style=" max-width: 1080px; ">
  <div class="grid">
  	<div data-oke-reviews-widget data-oke-reviews-product-id="shopify-4931353542738">{{ product.metafields.okendo.ProductReviewsWidgetSnippet }}</div>
  </div>
</div>
{% schema %}
{
  "name": "Page",
  "tag": "section"
}
{% endschema %}
