{%- if section.settings.klaviyo_form != blank -%}
<div id="footer_newsltter">
    <div class="page-width">
        <div class="grid grid--uniform">
            <div class="grid__item medium-up--one-half">
            <p>{{ section.settings.newsletter_text }}</p>
            </div>
            <div class="grid__item medium-up--one-half">
            {{ section.settings.klaviyo_form }}
            </div>
        </div>
    </div>
</div>
{%- endif -%}
{% schema %}
{
  "class": "index-section--footer",
  "name": "Footer Newsletter",
  "settings": [
    {
      "type": "text",
      "id": "newsletter_text",
      "label": "Newsletter Text",
      "placeholder": "Get 5$ off! Sign up to get instant VIP access to special deals, New Arrivals and more!"
    },
    {
      "type": "html",
      "id": "klaviyo_form",
      "label": "Insert klaviyo form code",
      "placeholder": "klaviyo form html"
    }
  ]
}
{% endschema %}