    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609001508385653682.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-609001508385653682.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-609001508385653682.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609001508385653682.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609001508385653682.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609001508385653682.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609001508385653682.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609001508385653682.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609001508385653682.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609001508385653682.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609001508385653682.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609001508385653682.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609001508385653682.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609001508385653682.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609001508385653682.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609001508385653682.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609001508385653682.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609001508385653682.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609001508385653682.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609001508385653682.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609001508385653682.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609001508385653682.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609001508385653682.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609001508385653682.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609001508385653682.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609001508385653682.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-609001508385653682.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609001508385653682.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609001508385653682.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609001508385653682.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-609001508385653682.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609001508385653682.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609001508385653682.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609001508385653682.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609001508385653682.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609001508385653682.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609001508385653682.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609001508385653682.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609001508385653682.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-609001508385653682.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609001508385653682.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609001508385653682.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609001508385653682.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609001508385653682.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609001508385653682.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609001508385653682.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609001508385653682.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609001508385653682.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609001508385653682.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609001508385653682.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609001508385653682.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609001508385653682.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609001508385653682.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-609001508385653682.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-609001508385653682.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609001508385653682.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-609001508385653682.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609001508385653682.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-609001508385653682.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609001508385653682.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-609001508385653682.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-609001508385653682.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609001508385653682.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609001508385653682.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609001508385653682.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609001508385653682.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609001508385653682.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609001508385653682.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609001508385653682.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-609001508385653682.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-609001508385653682.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-609001508385653682.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609001508385653682.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609001508385653682.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609001508385653682.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-609001508385653682.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-609001508385653682.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609001508385653682.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609001508385653682.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-609001508385653682.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-609001508385653682.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609001508385653682.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609001508385653682.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609001508385653682.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609001508385653682.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609001508385653682.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-609001508385653682.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609001508385653682.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609001508385653682 .gp-relative{position:relative}.gps-609001508385653682 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609001508385653682 .gp-mb-0{margin-bottom:0}.gps-609001508385653682 .gp-inline-block{display:inline-block}.gps-609001508385653682 .gp-flex{display:flex}.gps-609001508385653682 .gp-grid{display:grid}.gps-609001508385653682 .\!gp-hidden{display:none!important}.gps-609001508385653682 .gp-hidden{display:none}.gps-609001508385653682 .gp-h-auto{height:auto}.gps-609001508385653682 .gp-h-full{height:100%}.gps-609001508385653682 .gp-w-full{width:100%}.gps-609001508385653682 .gp-max-w-full{max-width:100%}.gps-609001508385653682 .gp-flex-none{flex:none}.gps-609001508385653682 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609001508385653682 .gp-flex-col{flex-direction:column}.gps-609001508385653682 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508385653682 .gp-duration-200{transition-duration:.2s}.gps-609001508385653682 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609001508385653682 .tablet\:\!gp-hidden{display:none!important}.gps-609001508385653682 .tablet\:gp-hidden{display:none}.gps-609001508385653682 .tablet\:gp-h-auto{height:auto}.gps-609001508385653682 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-609001508385653682 .mobile\:\!gp-hidden{display:none!important}.gps-609001508385653682 .mobile\:gp-hidden{display:none}.gps-609001508385653682 .mobile\:gp-h-auto{height:auto}.gps-609001508385653682 .mobile\:gp-flex-none{flex:none}}.gps-609001508385653682 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Sofia Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sofiasans/v20/Yq6E-LCVXSLy9uPBwlAThu1SY8Cx8rlT69B6sK3t.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"#1E4845","preload":false,"type":"color","video":"","videoHtml5":""},"mobile":{"attachment":"","color":"#1E4845","image":{"backupFileKey":"","height":678,"src":"","storage":"FILE_CONTENT","width":1600},"loop":"","position":{"x":50,"y":100},"preload":false,"repeat":"","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"i2l3b9b55218e"}' data-id="i2l3b9b55218e" id="i2l3b9b55218e" data-same-height-subgrid-container class="i2l3b9b55218e gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:23px;--pl:15px;--pb:20px;--pr:15px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:15px;--pl-mobile:15px;--pb-mobile:15px;--pr-mobile:15px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:5px;--pl-tablet:15px;--pb-tablet:5px;--pr-tablet:15px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#1E4845;--bgc-mobile:#1E4845;--bgi:url();--bgi-mobile:url();--bgp-mobile:50% 100%;--bgs-mobile:cover;--bgr-mobile:;--bga-mobile:;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-vvFGqDzoztoh gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"#00000000","type":"color","video":"","videoHtml5":""}},"uid":"vvFGqDzoztoh"}' data-id="vvFGqDzoztoh" id="vvFGqDzoztoh" data-same-height-subgrid-container class="vvFGqDzoztoh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bs-mobile:none;--bw:1px 1px 1px 1px;--bw-mobile:1px 1px 1px 1px;--bc:rgb(248, 243, 233);--bc-mobile:rgb(248, 243, 233);--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:4px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--cg-mobile:10px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:1400px;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--pc:space-between">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="i2l5daa5f0d20 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g8rNZx3IfT"}' data-id="g8rNZx3IfT" id="g8rNZx3IfT" data-same-height-subgrid-container class="g8rNZx3IfT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gQtb_OkxgL gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="aeHPubuxNooA"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1772549821225 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto aeHPubuxNooA"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="82" height="144" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODIiIGhlaWdodD0iMTQ0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy04Mi0xNDQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjgyIiBoZWlnaHQ9IjE0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODIiIGhlaWdodD0iMTQ0IiBmaWxsPSJ1cmwoI2ctODItMTQ0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItODIiIHRvPSI4MiIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" base-src="https://cdn.shopify.com/s/files/1/2326/5495/files/Vector_87.png?v=1710285064" data-src="https://cdn.shopify.com/s/files/1/2326/5495/files/Vector_87.png?v=1710285064" data-srcset="https://cdn.shopify.com/s/files/1/2326/5495/files/Vector_87.png?v=1710285064"
      id=""
      style="--w:18px;--w-tablet:18px;--w-mobile:19%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:82/144;--aspect-tablet:82/144;--aspect-mobile:82/144;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gPorOjGDEd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRPLsKzpz3"
        class="gRPLsKzpz3"
        style="--ta:center;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:19px;--size-tablet:19px;--size-mobile:15px;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRPLsKzpz3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="i2la1b68d34ff gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUnASyZBtf"}' data-id="gUnASyZBtf" id="gUnASyZBtf" data-same-height-subgrid-container class="gUnASyZBtf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gkABwuuQzc gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="daVhPACtXoVU"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1772549821226 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto daVhPACtXoVU"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="232" height="112" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMyIiBoZWlnaHQ9IjExMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMjMyLTExMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMjMyIiBoZWlnaHQ9IjExMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjMyIiBoZWlnaHQ9IjExMiIgZmlsbD0idXJsKCNnLTIzMi0xMTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0yMzIiIHRvPSIyMzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://cdn.shopify.com/s/files/1/2326/5495/files/Vector_88.png?v=1710285421" data-src="https://cdn.shopify.com/s/files/1/2326/5495/files/Vector_88.png?v=1710285421" data-srcset="https://cdn.shopify.com/s/files/1/2326/5495/files/Vector_88.png?v=1710285421"
      id=""
      style="--w:50px;--w-tablet:50px;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:232/112;--aspect-tablet:232/112;--aspect-mobile:232/112;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gIlmUUSWje gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="dffLGdBwTthe"
        class="dffLGdBwTthe"
        style="--ta:center;--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:19px;--size-tablet:19px;--size-mobile:15px;--lh-mobile:120%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gdffLGdBwTthe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdU93F3KhP"
        class="gdU93F3KhP"
        style="--ta:center;--d:none;--d-mobile:block;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-theme-font-heading), var(--g-font-body);--size:19px;--size-tablet:19px;--size-mobile:15px;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdU93F3KhP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:center"
      class="i2l970f30f193 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guS92Jie-I"}' data-id="guS92Jie-I" id="guS92Jie-I" data-same-height-subgrid-container class="guS92Jie-I gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gngBM9q2Ls gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g1H4ceDIRE"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:right;--ta-mobile:center"
      class="gp-group/image gp-relative force-publish-1772549821230 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g1H4ceDIRE"
    >
      <div
        
        style="border-radius:inherit;--jc:right;--jc-mobile:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="180" height="141" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE0MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTgwLTE0MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTgwIiBoZWlnaHQ9IjE0MSIgZmlsbD0idXJsKCNnLTE4MC0xNDEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xODAiIHRvPSIxODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="https://cdn.shopify.com/s/files/1/2326/5495/files/Layer_2_1.png?v=1710285489" data-src="https://cdn.shopify.com/s/files/1/2326/5495/files/Layer_2_1.png?v=1710285489" data-srcset="https://cdn.shopify.com/s/files/1/2326/5495/files/Layer_2_1.png?v=1710285489"
      id=""
      style="--w:40px;--w-tablet:40px;--w-mobile:40%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:180/141;--aspect-tablet:180/141;--aspect-mobile:180/141;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g0JbD0WeAk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="HocbgOTmpgkh"
        class="HocbgOTmpgkh"
        style="--ta:center;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Sans, 'Sofia Sans'), var(--g-font-heading, heading);--size:19px;--size-tablet:19px;--size-mobile:15px;--lh-mobile:120%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gHocbgOTmpgkh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-609001508385653682 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609001508167484338&sectionId=609001508385653682)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggRPLsKzpz3_text","label":"ggRPLsKzpz3_text","default":"<p><span style=\"font-size:px;\">FREE Starter Kit</span></p>"},{"type":"html","id":"gdffLGdBwTthe_text","label":"gdffLGdBwTthe_text","default":"<p><span style=\"font-size:px;\">FREE Shipping</span></p>"},{"type":"html","id":"ggdU93F3KhP_text","label":"ggdU93F3KhP_text","default":"<p><span style=\"font-size:px;\">FREE&nbsp;</span></p><p><span style=\"font-size:px;\">Shipping</span></p>"},{"type":"html","id":"gHocbgOTmpgkh_text","label":"gHocbgOTmpgkh_text","default":"<p><span style=\"font-size:px;\">Subscribe &amp; Save</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}