
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614079797806564011.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614079797806564011.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614079797806564011.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614079797806564011.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614079797806564011.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614079797806564011.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614079797806564011.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614079797806564011.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614079797806564011.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614079797806564011.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614079797806564011.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614079797806564011.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614079797806564011.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-614079797806564011.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614079797806564011.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614079797806564011.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614079797806564011.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614079797806564011.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614079797806564011.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614079797806564011.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614079797806564011.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614079797806564011.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614079797806564011.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614079797806564011.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614079797806564011.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614079797806564011.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614079797806564011.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614079797806564011.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614079797806564011.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614079797806564011.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614079797806564011.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614079797806564011.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-614079797806564011.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614079797806564011.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614079797806564011.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-614079797806564011.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614079797806564011.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614079797806564011.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614079797806564011.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614079797806564011.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-614079797806564011.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614079797806564011.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614079797806564011.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614079797806564011.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614079797806564011.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-614079797806564011 .gp-relative{position:relative}.gps-614079797806564011 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614079797806564011 .gp-mb-0{margin-bottom:0}.gps-614079797806564011 .gp-flex{display:flex}.gps-614079797806564011 .gp-grid{display:grid}.gps-614079797806564011 .\!gp-hidden{display:none!important}.gps-614079797806564011 .gp-hidden{display:none}.gps-614079797806564011 .gp-max-w-full{max-width:100%}.gps-614079797806564011 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614079797806564011 .gp-flex-col{flex-direction:column}.gps-614079797806564011 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614079797806564011 .gp-duration-200{transition-duration:.2s}.gps-614079797806564011 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614079797806564011 .tablet\:\!gp-hidden{display:none!important}.gps-614079797806564011 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-614079797806564011 .mobile\:\!gp-hidden{display:none!important}.gps-614079797806564011 .mobile\:gp-hidden{display:none}}.gps-614079797806564011 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#E1E6B8","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gkakpBNFCc"}' data-id="gkakpBNFCc" id="gkakpBNFCc" data-same-height-subgrid-container class="gkakpBNFCc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#E1E6B8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g6aXM76gcQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gEM3G7kgZj"}' data-id="gEM3G7kgZj" id="gEM3G7kgZj" data-same-height-subgrid-container class="gEM3G7kgZj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbvE3kQDa2 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g4uvyGv1Yb gp-custom-code">
      <div>
    <style>
@font-face {
  font-family: 'Sofia Pro';
  src: url('https://cdn.shopify.com/s/files/1/0263/3606/7666/files/gempages_Sofia_Pro_Regular_Az.otf?v=1772828137') format('opentype');
}

@font-face {
  font-family: 'Cooper Bold';
  src: url('https://cdn.shopify.com/s/files/1/0263/3606/7666/files/gempages_CooperBoldBT.ttf?v=1772031329') format('truetype');
}

/* SECTION */
.teangle-reviews-section {
  background: #E1E6B8 !important;
  overflow: hidden !important;
  padding: 60px 0 !important;
}

/* CONTAINER */
.teangle-reviews-container {
  max-width: 1400px !important;
  margin: 0 auto !important;
  padding: 0 24px !important;
  position: relative !important;
}

/* HEADER */
.teangle-reviews-header {
  text-align: center !important;
  margin-bottom: 34px !important;
}

.teangle-reviews-header h2 {
  font-family: 'Cooper Bold', serif !important;
  font-size: 40px !important;
  color: #004b4a !important;
  margin: 0 !important;
}

.teangle-reviews-header p {
  font-family: 'Sofia Pro', sans-serif !important;
  font-size: 17px !important;
  color: #004b4a !important;
  margin-top: 12px !important;
}

/* SLIDER WRAP */
.teangle-slider-wrapper {
  position: relative !important;
}

.teangle-reviews-track {
  display: flex !important;
  gap: 20px !important;
  overflow-x: auto !important;
  scroll-behavior: smooth !important;
  scrollbar-width: none !important;
  scroll-snap-type: x mandatory !important;
}

.teangle-reviews-track::-webkit-scrollbar {
  display: none !important;
}

/* CARD */
.teangle-review-card {
  flex: 0 0 calc((100% - 60px) / 4) !important;
  min-width: calc((100% - 60px) / 4) !important;
  background: #f7f4ee !important;
  padding: 20px !important;
  scroll-snap-align: start !important;
  box-sizing: border-box !important;
}

/* STARS */
.teangle-review-stars {
  width: 130px !important;
  margin-bottom: 12px !important;
  display: block !important;
}

/* TITLE */
.teangle-review-title {
  font-family: 'Sofia Pro', sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #004b4a !important;
  margin-bottom: 10px !important;
}

/* TEXT */
.teangle-review-text {
  font-family: 'Sofia Pro', sans-serif !important;
  font-size: 16px !important;
  color: #004b4a !important;
  line-height: 1.6 !important;
  margin-bottom: 16px !important;
}

/* AUTHOR */
.teangle-review-author {
  font-family: 'Sofia Pro', sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #004b4a !important;
}

/* VERIFIED */
.teangle-review-verified {
  font-family: 'Sofia Pro', sans-serif !important;
  font-size: 14px !important;
  color: #1a7f63 !important;
  margin-top: 4px !important;
}

/* ARROWS */
.teangle-slider-arrow {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 46px !important;
  height: 46px !important;
  border: none !important;
  border-radius: 50% !important;
  background: #004b4a !important;
  color: #ffffff !important;
  font-size: 24px !important;
  line-height: 46px !important;
  text-align: center !important;
  cursor: pointer !important;
  z-index: 2 !important;
  transition: all 0.3s ease !important;
}

.teangle-slider-arrow:hover {
  background: #003837 !important;
}

.teangle-slider-arrow.prev {
  left: -8px !important;
}

.teangle-slider-arrow.next {
  right: -8px !important;
}

/* DOTS */
.teangle-slider-dots {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  margin-top: 24px !important;
}

.teangle-slider-dot {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background: rgba(0, 75, 74, 0.28) !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
}

.teangle-slider-dot.active {
  background: #004b4a !important;
  transform: scale(1.15) !important;
}

/* MOBILE */
@media (max-width: 768px) {
  .teangle-review-card {
    flex: 0 0 100% !important;
    min-width: 100% !important;
  }

  .teangle-reviews-header h2 {
    font-size: 32px !important;
  }

  .teangle-review-text {
    font-size: 16px !important;
  }

  .teangle-slider-arrow {
    display: none !important;
  }

  .teangle-reviews-section {
    padding: 45px 0 !important;
  }
}
</style>

<section class="teangle-reviews-section">
  <div class="teangle-reviews-container">

    <div class="teangle-reviews-header">
      <h2>Trusted by 150,000+ Canadians</h2>
      <p>Clean energy, daily glow, and feel good rituals people actually stick with.</p>
    </div>

    <div class="teangle-slider-wrapper">
      <button class="teangle-slider-arrow prev" aria-label="Previous">&#10094;</button>
      <button class="teangle-slider-arrow next" aria-label="Next">&#10095;</button>

      <div class="teangle-reviews-track" id="teangleReviewsTrack">

        <div class="teangle-review-card">
          <img class="teangle-review-stars" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/download.svg?v=1775549232" alt="5 stars">
          <div class="teangle-review-title">Part of my morning now</div>
          <div class="teangle-review-text">I swapped coffee for this and feel steady and focused all morning.</div>
          <div class="teangle-review-author">Jessica M</div>
          <div class="teangle-review-verified">Verified Customer</div>
        </div>

        <div class="teangle-review-card">
          <img class="teangle-review-stars" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/download.svg?v=1775549232" alt="5 stars">
          <div class="teangle-review-title">Tastes amazing</div>
          <div class="teangle-review-text">Vanilla is smooth and delicious. Easy to drink every day.</div>
          <div class="teangle-review-author">Amanda R</div>
          <div class="teangle-review-verified">Verified Customer</div>
        </div>

        <div class="teangle-review-card">
          <img class="teangle-review-stars" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/download.svg?v=1775549232" alt="5 stars">
          <div class="teangle-review-title">No jitters</div>
          <div class="teangle-review-text">Clean energy without the crash or anxiety. Huge difference.</div>
          <div class="teangle-review-author">Lauren T</div>
          <div class="teangle-review-verified">Verified Customer</div>
        </div>

        <div class="teangle-review-card">
          <img class="teangle-review-stars" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/download.svg?v=1775549232" alt="5 stars">
          <div class="teangle-review-title">Skin improved</div>
          <div class="teangle-review-text">Noticed brighter skin after a few weeks. Love it.</div>
          <div class="teangle-review-author">Nicole P</div>
          <div class="teangle-review-verified">Verified Customer</div>
        </div>

        <div class="teangle-review-card">
          <img class="teangle-review-stars" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/download.svg?v=1775549232" alt="5 stars">
          <div class="teangle-review-title">Easy routine</div>
          <div class="teangle-review-text">Quick to make and easy to stick with daily.</div>
          <div class="teangle-review-author">Brianna S</div>
          <div class="teangle-review-verified">Verified Customer</div>
        </div>

        <div class="teangle-review-card">
          <img class="teangle-review-stars" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/download.svg?v=1775549232" alt="5 stars">
          <div class="teangle-review-title">Better than coffee</div>
          <div class="teangle-review-text">No crash, no anxiety. Just smooth energy.</div>
          <div class="teangle-review-author">Sophie L</div>
          <div class="teangle-review-verified">Verified Customer</div>
        </div>

        <div class="teangle-review-card">
          <img class="teangle-review-stars" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/download.svg?v=1775549232" alt="5 stars">
          <div class="teangle-review-title">Feel more balanced</div>
          <div class="teangle-review-text">Energy feels stable and I stay productive longer.</div>
          <div class="teangle-review-author">Hannah K</div>
          <div class="teangle-review-verified">Verified Customer</div>
        </div>

        <div class="teangle-review-card">
          <img class="teangle-review-stars" src="https://cdn.shopify.com/s/files/1/0263/3606/7666/files/download.svg?v=1775549232" alt="5 stars">
          <div class="teangle-review-title">Love chocolate one</div>
          <div class="teangle-review-text">Tastes incredible and keeps me energized for hours.</div>
          <div class="teangle-review-author">Olivia D</div>
          <div class="teangle-review-verified">Verified Customer</div>
        </div>

      </div>

      <div class="teangle-slider-dots" id="teangleSliderDots"></div>
    </div>

  </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const track = document.getElementById('teangleReviewsTrack');
  const prevBtn = document.querySelector('.teangle-slider-arrow.prev');
  const nextBtn = document.querySelector('.teangle-slider-arrow.next');
  const dotsWrap = document.getElementById('teangleSliderDots');
  const cards = track.querySelectorAll('.teangle-review-card');

  function getCardsPerView() {
    return window.innerWidth <= 768 ? 1 : 4;
  }

  function getTotalSlides() {
    return Math.ceil(cards.length / getCardsPerView());
  }

  function getCardWidth() {
    const firstCard = cards[0];
    const cardStyle = window.getComputedStyle(firstCard);
    const gap = 20;
    return firstCard.offsetWidth + gap;
  }

  function createDots() {
    dotsWrap.innerHTML = '';
    const totalSlides = getTotalSlides();

    for (let i = 0; i < totalSlides; i++) {
      const dot = document.createElement('span');
      dot.className = 'teangle-slider-dot';
      if (i === 0) dot.classList.add('active');

      dot.addEventListener('click', function () {
        const moveBy = getCardsPerView() * getCardWidth() * i;
        track.scrollTo({
          left: moveBy,
          behavior: 'smooth'
        });
      });

      dotsWrap.appendChild(dot);
    }
  }

  function updateDots() {
    const dots = dotsWrap.querySelectorAll('.teangle-slider-dot');
    const cardsPerView = getCardsPerView();
    const slideIndex = Math.round(track.scrollLeft / (getCardWidth() * cardsPerView));

    dots.forEach((dot, index) => {
      dot.classList.toggle('active', index === slideIndex);
    });
  }

  prevBtn.addEventListener('click', function () {
    const moveBy = getCardsPerView() * getCardWidth();
    track.scrollBy({
      left: -moveBy,
      behavior: 'smooth'
    });
  });

  nextBtn.addEventListener('click', function () {
    const moveBy = getCardsPerView() * getCardWidth();
    track.scrollBy({
      left: moveBy,
      behavior: 'smooth'
    });
  });

  track.addEventListener('scroll', function () {
    updateDots();
  });

  window.addEventListener('resize', function () {
    createDots();
    updateDots();
  });

  createDots();
  updateDots();
});
</script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-614079797806564011 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610477429588231067&sectionId=614079797806564011)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}