
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610477429655339931.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610477429655339931.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610477429655339931.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610477429655339931.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610477429655339931.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610477429655339931.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610477429655339931.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610477429655339931.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610477429655339931.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610477429655339931.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610477429655339931.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610477429655339931.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610477429655339931.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610477429655339931.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610477429655339931.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610477429655339931.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610477429655339931.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-610477429655339931.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-610477429655339931.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610477429655339931.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610477429655339931.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610477429655339931.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610477429655339931.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610477429655339931.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610477429655339931.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610477429655339931.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610477429655339931.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-610477429655339931.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-610477429655339931.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610477429655339931.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-610477429655339931.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-610477429655339931.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-610477429655339931.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-610477429655339931.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-610477429655339931.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}}@media only screen and (max-width:767px){.gps-610477429655339931.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-610477429655339931.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-610477429655339931.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-610477429655339931.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-610477429655339931.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}}.gps-610477429655339931 .\!gp-pointer-events-none{pointer-events:none!important}.gps-610477429655339931 .gp-relative{position:relative}.gps-610477429655339931 .gp-sticky{position:sticky}.gps-610477429655339931 .gp-flex{display:flex}.gps-610477429655339931 .\!gp-hidden{display:none!important}.gps-610477429655339931 .gp-hidden{display:none}.gps-610477429655339931 .gp-flex-col{flex-direction:column}@media (max-width:1024px){.gps-610477429655339931 .tablet\:\!gp-hidden{display:none!important}.gps-610477429655339931 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-610477429655339931 .mobile\:\!gp-hidden{display:none!important}.gps-610477429655339931 .mobile\:gp-hidden{display:none}}.gps-610477429655339931 .\[\&_gp-button_button\]\:\!gp-pointer-events-auto gp-button button{pointer-events:auto!important}</style>
    
  
    
    
    
    <gp-sticky
    data-id="gaOSREm_-X"
      gp-data='{"uid":"gaOSREm_-X","setting":{"display":{"desktop":"always","tablet":"always","mobile":"always"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gaOSREm_-X"
      data-id="gaOSREm_-X"
      class="sticky-wrapper !gp-pointer-events-none [&_gp-button_button]:!gp-pointer-events-auto gaOSREm_-X undefined {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
      style="--w:100%;margin:0 auto;--left:50%;--t:translateX(-50%);--left-tablet:50%;--t-tablet:translateX(-50%);--left-mobile:50%;--t-mobile:translateX(-50%);--top:auto;--bottom:0;--pos:fixed;--d:block;--top-tablet:auto;--bottom-tablet:0;--pos-tablet:fixed;--d-tablet:block;--top-mobile:auto;--bottom-mobile:0;--pos-mobile:fixed;--d-mobile:block;z-index:999"
    >
      <style>.drawer-page-content {
       transform: none !important;
      -webkit-transform: none !important;
  }</style>
      <div  style="--m:0 auto;--pt:16px;--pb:16px;--pr:24px;--pl:24px;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        <div
      data-same-height-display-contents
      
      class="gwbLCTM7WX gp-relative gp-flex gp-flex-col"
    >
      
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-sticky-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-610477429655339931 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610477429588231067&sectionId=610477429655339931)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}