
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-614107959957586587.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-614107959957586587.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-614107959957586587.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-614107959957586587.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-614107959957586587.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-614107959957586587.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-614107959957586587.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-614107959957586587.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-614107959957586587.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-614107959957586587.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-614107959957586587.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-614107959957586587.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-614107959957586587.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-614107959957586587.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-614107959957586587.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-614107959957586587.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-614107959957586587.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-614107959957586587.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-614107959957586587.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-614107959957586587.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-614107959957586587.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-614107959957586587.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-614107959957586587.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-614107959957586587.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-614107959957586587.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-614107959957586587.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-614107959957586587.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-614107959957586587.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-614107959957586587.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-614107959957586587.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-614107959957586587.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-614107959957586587.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-614107959957586587.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-614107959957586587.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-614107959957586587.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-614107959957586587.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-614107959957586587.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-614107959957586587.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-614107959957586587.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-614107959957586587.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-614107959957586587.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-614107959957586587.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-614107959957586587.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-614107959957586587.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-614107959957586587.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-614107959957586587.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-614107959957586587.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-614107959957586587.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-614107959957586587.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-614107959957586587.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-614107959957586587.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-614107959957586587.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-614107959957586587.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-614107959957586587.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-614107959957586587.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-614107959957586587.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-614107959957586587.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-614107959957586587.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-614107959957586587.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-614107959957586587.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-614107959957586587.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-614107959957586587.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-614107959957586587.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-614107959957586587.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-614107959957586587.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-614107959957586587.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-614107959957586587.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-614107959957586587.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-614107959957586587.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-614107959957586587.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-614107959957586587.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-614107959957586587.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-614107959957586587.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-614107959957586587.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-614107959957586587.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-614107959957586587.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-614107959957586587.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-614107959957586587.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-614107959957586587.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-614107959957586587.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-614107959957586587.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-614107959957586587.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-614107959957586587.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-614107959957586587.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-614107959957586587.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-614107959957586587.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-614107959957586587.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-614107959957586587 .gp-relative{position:relative}.gps-614107959957586587 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-614107959957586587 .gp-mb-0{margin-bottom:0}.gps-614107959957586587 .gp-inline-block{display:inline-block}.gps-614107959957586587 .gp-flex{display:flex}.gps-614107959957586587 .gp-grid{display:grid}.gps-614107959957586587 .\!gp-hidden{display:none!important}.gps-614107959957586587 .gp-hidden{display:none}.gps-614107959957586587 .gp-h-auto{height:auto}.gps-614107959957586587 .gp-h-full{height:100%}.gps-614107959957586587 .gp-w-full{width:100%}.gps-614107959957586587 .gp-max-w-full{max-width:100%}.gps-614107959957586587 .gp-flex-none{flex:none}.gps-614107959957586587 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-614107959957586587 .gp-flex-col{flex-direction:column}.gps-614107959957586587 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-614107959957586587 .gp-duration-200{transition-duration:.2s}.gps-614107959957586587 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-614107959957586587 .tablet\:\!gp-hidden{display:none!important}.gps-614107959957586587 .tablet\:gp-hidden{display:none}.gps-614107959957586587 .tablet\:gp-h-auto{height:auto}.gps-614107959957586587 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-614107959957586587 .mobile\:\!gp-hidden{display:none!important}.gps-614107959957586587 .mobile\:gp-hidden{display:none}.gps-614107959957586587 .mobile\:gp-h-auto{height:auto}.gps-614107959957586587 .mobile\:gp-flex-none{flex:none}}.gps-614107959957586587 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"#F9F1E8","preload":false,"type":"color","video":"","videoHtml5":""}},"uid":"gFwGznaJLM"}' data-id="gFwGznaJLM" id="gFwGznaJLM" data-same-height-subgrid-container class="gFwGznaJLM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:74px;--pl:0px;--pb:25px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:40px;--pl-mobile:15px;--pb-mobile:100px;--pr-mobile:15px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:74px;--pl-tablet:20px;--pb-tablet:25px;--pr-tablet:20px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F9F1E8;--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gf461zDzTG gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gqEb04CGr6"}' data-id="gqEb04CGr6" id="gqEb04CGr6" data-same-height-subgrid-container class="gqEb04CGr6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8LGX1jTWJ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="grfyhaEUOX"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:10px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776874312588 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto grfyhaEUOX"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.ggrfyhaEUOX_alt }}" title="{{ section.settings.ggrfyhaEUOX_title }}" width="150" height="27" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="https://teangle.ca/cdn/shop/files/logo_long_brand_150x.png?v=1658141070" isNotLazyload="true" srcset base-src="https://teangle.ca/cdn/shop/files/logo_long_brand_150x.png?v=1658141070" loading="lazy"
      id=""
      style="--w:15%;--w-tablet:15%;--w-mobile:35%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:150/27;--aspect-tablet:150/27;--aspect-mobile:150/27;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNmVSdYD26"
        class="gNmVSdYD26"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--mb-mobile:10px;--mb-tablet:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:11px;--lh:160%;--lh-tablet:180%;--lh-mobile:150%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNmVSdYD26_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsyHH7duCX"
        class="gsyHH7duCX"
        style="--ta:center;--d:block;--d-mobile:block;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:44px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Sofia-Pro-Regular-Az, 'Sofia Pro Regular Az'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:16px;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsyHH7duCX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-614107959957586587 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=614107959839949467&sectionId=614107959957586587)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggrfyhaEUOX_srcSet_desktop_src","label":"ggrfyhaEUOX_srcSet_desktop_src","default":"https://placehold.co/800x533?text=Image"},{"type":"html","id":"ggNmVSdYD26_text","label":"ggNmVSdYD26_text","default":"<p>Promotional T&amp;Cs (Teangle)</p><p>The Bundle and Free Gift offers are introductory promotions available for new customers only, while stocks last. If your order includes a free promotional item and you return part or all of your order without returning the unused free item, we reserve the right to deduct the value of the free item from your refund. Offers cannot be combined with other discounts or promotions. Using multiple promotions may remove the free gift from your order.</p><p>&nbsp;</p><p>Nutritional Claims (Teangle)</p><p>*Based on customer reported feedback after consistent daily use over 8 to 12 weeks. Results may vary by individual.<br>**Per serving: 5g marine collagen and 1g organic ceremonial matcha.<br>***Zero sugar claim refers to no added sugar. Always check the label for the most up to date nutrition information.</p>"},{"type":"html","id":"ggsyHH7duCX_text","label":"ggsyHH7duCX_text","default":"<p><a href=\"https://teangle.ca/policies/privacy-policy\" target=\"_blank\"><u>Privacy Policy</u></a> &nbsp;| &nbsp;<a href=\"https://teangle.ca/policies/terms-of-service\"><u>Terms &amp; Conditions&nbsp;</u></a><a href=\"https://glowactiv.com.au/pages/terms-and-conditions\" target=\"_blank\">&nbsp;</a></p><p>| &nbsp;@ 2026 Teangle</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}