    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609001508251435954.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609001508251435954.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609001508251435954.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609001508251435954.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609001508251435954.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609001508251435954.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609001508251435954.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609001508251435954.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609001508251435954.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609001508251435954.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609001508251435954.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609001508251435954.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609001508251435954.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609001508251435954.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609001508251435954.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609001508251435954.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609001508251435954.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609001508251435954.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609001508251435954.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609001508251435954.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609001508251435954.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609001508251435954.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609001508251435954.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609001508251435954.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609001508251435954.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-609001508251435954.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-609001508251435954.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609001508251435954.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609001508251435954.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609001508251435954.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-609001508251435954.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609001508251435954.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609001508251435954.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609001508251435954.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609001508251435954.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609001508251435954.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-609001508251435954.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-609001508251435954.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609001508251435954.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-609001508251435954.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609001508251435954.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609001508251435954.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609001508251435954.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609001508251435954.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609001508251435954.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609001508251435954.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609001508251435954.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609001508251435954.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609001508251435954.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609001508251435954.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609001508251435954.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609001508251435954.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609001508251435954.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609001508251435954.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-609001508251435954.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609001508251435954.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-609001508251435954.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-609001508251435954.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-609001508251435954.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609001508251435954.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609001508251435954.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609001508251435954.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-609001508251435954.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609001508251435954.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609001508251435954.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609001508251435954.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609001508251435954.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609001508251435954.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609001508251435954.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609001508251435954.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-609001508251435954.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-609001508251435954.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-609001508251435954.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609001508251435954.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609001508251435954.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609001508251435954.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-609001508251435954.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609001508251435954.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609001508251435954.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609001508251435954.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609001508251435954.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609001508251435954.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609001508251435954 .gp-relative{position:relative}.gps-609001508251435954 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609001508251435954 .gp-mb-0{margin-bottom:0}.gps-609001508251435954 .gp-flex{display:flex}.gps-609001508251435954 .gp-inline-flex{display:inline-flex}.gps-609001508251435954 .gp-grid{display:grid}.gps-609001508251435954 .\!gp-hidden{display:none!important}.gps-609001508251435954 .gp-hidden{display:none}.gps-609001508251435954 .gp-h-full{height:100%}.gps-609001508251435954 .gp-w-full{width:100%}.gps-609001508251435954 .gp-max-w-full{max-width:100%}.gps-609001508251435954 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609001508251435954 .gp-flex-col{flex-direction:column}.gps-609001508251435954 .gp-items-center{align-items:center}.gps-609001508251435954 .gp-justify-center{justify-content:center}.gps-609001508251435954 .gp-overflow-hidden{overflow:hidden}.gps-609001508251435954 .gp-break-words{overflow-wrap:break-word}.gps-609001508251435954 .gp-text-center{text-align:center}.gps-609001508251435954 .gp-leading-\[0\]{line-height:0}.gps-609001508251435954 .gp-no-underline{text-decoration-line:none}.gps-609001508251435954 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508251435954 .gp-duration-200{transition-duration:.2s}.gps-609001508251435954 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609001508251435954 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-609001508251435954 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-609001508251435954 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-609001508251435954 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-609001508251435954 .tablet\:\!gp-hidden{display:none!important}.gps-609001508251435954 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609001508251435954 .mobile\:\!gp-hidden{display:none!important}.gps-609001508251435954 .mobile\:gp-hidden{display:none}}.gps-609001508251435954 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-609001508251435954 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-609001508251435954 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-609001508251435954 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-609001508251435954 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-609001508251435954 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F9F1E8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzQ5GDNALI"}' data-id="gzQ5GDNALI" id="gzQ5GDNALI" data-same-height-subgrid-container class="gzQ5GDNALI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:none;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--pt:23px;--pb:54px;--mt-mobile:0px;--pt-mobile:23px;--pb-mobile:40px;--mt-tablet:0px;--pt-tablet:23px;--pb-tablet:54px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#F9F1E8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLQKpD6nRk gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gtR7ROCJee"}' data-id="gtR7ROCJee" id="gtR7ROCJee" data-same-height-subgrid-container class="gtR7ROCJee gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCReTrLtaj gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-mobile:20px;--mb-tablet:20px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gIJotxQ6XQ gp-custom-code">
      <div>
    <!-- GlowActiv Science Section (DESKTOP ONLY / CRO POLISHED + WORKING PROGRESS BARS) -->

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Body font (Poppins) -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">

<!-- Heading font (Lora) -->
<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap" rel="stylesheet">

<style>
  /* Desktop only */
  #ga-science-desktop { display: none !important; }
  @media (min-width: 991px){
    #ga-science-desktop { display: block !important; }
  }

  #ga-science-desktop,
  #ga-science-desktop *{
    font-family: "Poppins", sans-serif !important; /* Default body font */
    box-sizing: border-box !important;
  }

  /* ===============================
     FONT OVERRIDES
     Headings = Lora
     Body = Poppins
  ============================== */
  #ga-science-desktop h1,
  #ga-science-desktop h2,
  #ga-science-desktop h3,
  #ga-science-desktop h4,
  #ga-science-desktop h5,
  #ga-science-desktop h6,
  #ga-science-desktop .ga-sci-title,
  #ga-science-desktop .ga-sci-subtitle,
  #ga-science-desktop .ga-why-title,
  #ga-science-desktop .ga-phase-title{
    font-family: "Lora", serif !important;
    letter-spacing: -0.2px !important;
  }

  #ga-science-desktop p,
  #ga-science-desktop .ga-sci-desc,
  #ga-science-desktop .ga-phase-text,
  #ga-science-desktop .ga-why-text{
    font-family: "Poppins", sans-serif !important;
  }

  #ga-science-desktop{
    width: 100% !important;
    padding: 52px 18px !important;
  }

  .ga-sci-wrap{
    max-width: 1180px !important;
    margin: 0 auto !important;
  }

  /* Header */
  .ga-sci-head{
    text-align: center !important;
    margin-bottom: 22px !important;
  }
  .ga-sci-title{
    font-size: 45px !important;
    line-height: 1.08 !important;
    font-weight: 700 !important;
    color: #2D2926 !important;
    margin: 0 !important;
    letter-spacing: -0.5px !important;
  }
  .ga-sci-subtitle{
    font-size: 22px !important;
    line-height: 1.2 !important;
    font-weight: 800 !important;
    color: #2D2926 !important;
    margin: 10px 0 0 0 !important;
  }
  .ga-sci-desc{
    font-size: 16px !important; /* was 15px */
    line-height: 1.6 !important;
    color: #111111 !important;
    margin: 12px 0 0 0 !important;
    opacity: .9 !important;
  }

  /* Main grid */
  .ga-sci-grid{
    display: grid !important;
    grid-template-columns: 1fr 320px !important;
    gap: 18px !important;
    align-items: stretch !important;
    margin-top: 22px !important;
  }

  .ga-sci-left{
    display: grid !important;
    grid-template-rows: auto auto !important;
    gap: 18px !important;
  }

  /* Phase row */
  .ga-phase-row{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 18px !important;
    align-items: stretch !important;
  }

  /* Card base */
  .ga-card{
    background: #ffffff !important;
    border: 1px solid rgba(0,0,0,.10) !important;
    border-radius: 16px !important;
    box-shadow: 0 12px 26px rgba(0,0,0,.06) !important;
    padding: 18px 18px 16px 18px !important;
    min-height: 198px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
  }

  /* Phase top content */
  .ga-phase-top{
    display: grid !important;
    grid-template-columns: 72px 1fr !important;
    gap: 12px !important;
    align-items: center !important;
  }

  /* Icon circle (bigger + fills) */
  .ga-ico{
    width: 72px !important;
    height: 72px !important;
    border-radius: 999px !important;
    background: rgba(250,46,125,.10) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden !important;
    flex: 0 0 72px !important;
    box-shadow: 0 6px 14px rgba(250,46,125,.14) !important;
  }
  .ga-ico img{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    padding: 12px !important;
    display: block !important;
  }

  .ga-phase-title{
    margin: 0 !important;
    font-size: 17px !important; /* was 14px */
    line-height: 1.2 !important;
    font-weight: 800 !important;
    color: #FA2E7D !important;
  }
  .ga-phase-text{
    margin: 6px 0 0 0 !important;
    font-size: 13px !important;
    line-height: 1.4 !important;
    color: #111111 !important;
    font-weight: 500 !important;
  }
  .ga-phase-text b{
    font-weight: 800 !important;
  }

  /* Progress bar (uses CSS variable so it always fills correctly) */
  .ga-slider{
    position: relative !important;
    height: 8px !important;
    border-radius: 999px !important;
    background: #2A2A2A !important;
    overflow: hidden !important;
    margin-top: 14px !important;
    --ga-pct: 0%;
  }
  .ga-slider .ga-fill{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 100% !important;
    width: var(--ga-pct) !important;
    background: #FA2E7D !important;
    border-radius: 999px !important;
    transition: width .35s ease !important;
  }
  .ga-slider .ga-knob{
    position: absolute !important;
    top: 50% !important;
    left: var(--ga-pct) !important;
    transform: translate(-50%, -50%) !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 999px !important;
    background: #ffffff !important;
    border: 3px solid #FA2E7D !important;
    box-shadow: 0 8px 18px rgba(0,0,0,.14) !important;
    transition: left .35s ease !important;
  }

  /* Why 3-in-1 */
  .ga-why{
    background: #ffffff !important;
    border: 1px solid rgba(0,0,0,.10) !important;
    border-radius: 16px !important;
    box-shadow: 0 12px 26px rgba(0,0,0,.06) !important;
    padding: 16px 18px !important;
  }
  .ga-why-title{
    text-align: center !important;
    margin: 0 !important;
    font-size: 19px !important; /* was 18px */
    font-weight: 800 !important;
    color: #000 !important;
  }

  .ga-why-row{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 12px !important;
    margin-top: 14px !important;
    align-items: center !important;
  }

  .ga-why-item{
    display: grid !important;
    grid-template-columns: 56px 1fr !important;
    gap: 12px !important;
    align-items: center !important;
    padding: 10px 10px !important;
    border-radius: 14px !important;
  }

  .ga-why-ico{
    width: 56px !important;
    height: 56px !important;
    border-radius: 999px !important;
    background: rgba(250,46,125,.10) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden !important;
    box-shadow: 0 6px 14px rgba(250,46,125,.12) !important;
  }
  .ga-why-ico img{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    padding: 10px !important;
    display: block !important;
  }

  .ga-why-text{
    margin: 0 !important;
    font-size: 13px !important;
    line-height: 1.4 !important;
    color: #111111 !important;
    font-weight: 500 !important;
  }
  .ga-why-text b{
    font-weight: 800 !important;
  }

  /* Right image card */
  .ga-sci-right{
    background: #ffffff !important;
    border: 1px solid rgba(0,0,0,.10) !important;
    border-radius: 16px !important;
    box-shadow: 0 12px 26px rgba(0,0,0,.06) !important;
    padding: 12px !important;
    overflow: hidden !important;
    display: flex !important;
    align-items: stretch !important;
    justify-content: stretch !important;
    min-height: 100% !important;
  }
  .ga-sci-right img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 12px !important;
    display: block !important;
  }
</style>

<section id="ga-science-desktop">
  <div class="ga-sci-wrap">
    <div class="ga-sci-head">
      <h2 class="ga-sci-title">The Daily Ritual Your Body Needs to Glow</h2>
      <div class="ga-sci-subtitle">POWERED BY THE TRI-PHASE GLOW SUPPORT SYSTEM™</div>
      <p class="ga-sci-desc">The reason most collagen under-delivers is that the gut isn’t ready to absorb it.<br> We engineered our 3-in-1 Matrix to solve the absorption problem, ensuring you actually reach your Glow Peak.</p>
    </div>

    <div class="ga-sci-grid">
      <!-- LEFT -->
      <div class="ga-sci-left">
        <!-- Phase cards -->
        <div class="ga-phase-row">
          <!-- Phase 1 -->
          <div class="ga-card">
            <div class="ga-phase-top">
              <div class="ga-ico">
                <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/Untitled_design_-_2026-01-09T163103.439.png?v=1767958284" alt="Phase 1 icon">
              </div>
              <div>
                <p class="ga-phase-title">Phase 1</p>
                <p class="ga-phase-text"><b>Prepare</b><br>Soothes the gut to prime the body for maximimum nutrient absorption.</p>
              </div>
            </div>

            <div class="ga-slider" data-progress="30">
              <span class="ga-fill"></span>
              <span class="ga-knob"></span>
            </div>
          </div>

          <!-- Phase 2 -->
          <div class="ga-card">
            <div class="ga-phase-top">
              <div class="ga-ico">
                <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/5_15602961-bd1a-4f56-9a14-eb42bfa6d71b.png?v=1767957843" alt="Phase 2 icon">
              </div>
              <div>
                <p class="ga-phase-title">Phase 2</p>
                <p class="ga-phase-text"><b>Supply</b><br>Delivers high-purity bioactive marine peptides that dissolve fast and taste clean.</p>
              </div>
            </div>

            <div class="ga-slider" data-progress="60">
              <span class="ga-fill"></span>
              <span class="ga-knob"></span>
            </div>
          </div>

          <!-- Phase 3 -->
          <div class="ga-card">
            <div class="ga-phase-top">
              <div class="ga-ico">
                <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/6_43157f86-c990-4024-abb1-51a44b3f1bba.png?v=1767957843" alt="Phase 3 icon">
              </div>
              <div>
                <p class="ga-phase-title">Phase 3</p>
                <p class="ga-phase-text"><b>Support</b><br>Activates the collagen with Vitamin C + 25 superfoods for glowing results.</p>
              </div>
            </div>

            <div class="ga-slider" data-progress="100">
              <span class="ga-fill"></span>
              <span class="ga-knob"></span>
            </div>
          </div>
        </div>

        <!-- Why 3-in-1 -->
        <div class="ga-why">
          <div class="ga-why-title">Why our 3-in-1 Matrix™ wins:</div>

          <div class="ga-why-row">
            <div class="ga-why-item">
              <div class="ga-why-ico">
                <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/7.png?v=1767954745" alt="Marine Collagen icon">
              </div>
              <p class="ga-why-text"><b>The Bounce</b><br>Firm and bouncy skin support from the inside out.</p>
            </div>

            <div class="ga-why-item">
              <div class="ga-why-ico">
                <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/8.png?v=1767954745" alt="Superfoods icon">
              </div>
              <p class="ga-why-text"><b>The Shield</b><br>Potent antioxidant shield to combat daily skin fatigue.</p>
            </div>

            <div class="ga-why-item">
              <div class="ga-why-ico">
                <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/9.png?v=1767954746" alt="Gut Support icon">
              </div>
              <p class="ga-why-text"><b>The Comfort</b><br>Quiet, comfortable digestion for a better morning ritual.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- RIGHT IMAGE -->
      <div class="ga-sci-right">
        <img src="https://cdn.shopify.com/s/files/1/0724/3353/3184/files/Glow_Lifestyle.png?v=1769292062" alt="Glow lifestyle">
      </div>
    </div>
  </div>
</section>

<script>
(function () {
  function clamp(n, min, max){ return Math.max(min, Math.min(max, n)); }

  function initBars(scope){
    var root = (scope && scope.querySelector) ? scope : document;
    var bars = root.querySelectorAll('#ga-science-desktop .ga-slider[data-progress]');
    for (var i = 0; i < bars.length; i++){
      var bar = bars[i];
      var pct = parseFloat(bar.getAttribute('data-progress')) || 0;
      pct = clamp(pct, 0, 100);
      bar.style.setProperty('--ga-pct', pct + '%');
    }
  }

  function ready(fn){
    if (document.readyState === 'loading') {
      document.addEventListener('DOMContentLoaded', fn);
    } else {
      fn();
    }
  }

  ready(function(){ initBars(document); });

  document.addEventListener('shopify:section:load', function(e){ initBars(e.target); });

  /* GemPages sometimes injects content after load */
  var mo = new MutationObserver(function(){
    initBars(document);
  });
  mo.observe(document.documentElement, { childList: true, subtree: true });
})();
</script>
    </div>
    </div>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gk6V58uNPf"}' data-id="gk6V58uNPf" id="gk6V58uNPf" data-same-height-subgrid-container class="gk6V58uNPf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:55px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi9mRKxUs6 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"#i2l3b9b55218e","selectedTab":"scrollToList","target":"_self","title":"Section 14","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--shadow:none;--d:block;--d-mobile:none;--d-tablet:none;--pageType:GP_STATIC;--bblr:9999px;--bbrr:9999px;--btlr:9999px;--btrr:9999px;--mt:0px;--ml:0px;--mb:8px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center" >
        <style>[data-id="gAMFTWd2aX"].gp-button-base::before, [data-id="gAMFTWd2aX-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      
  
    }
  
      
  [data-id="gAMFTWd2aX"]:hover::before, [data-id="gAMFTWd2aX-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#i2l3b9b55218e
            target=_self
          ></a>
        <a
          data-id="gAMFTWd2aX" dataId="gAMFTWd2aX" data-state="idle" aria-label="<p>BUY NOW | UP TO 37% OFF</p>"
          
          href="#i2l3b9b55218e" target="_self"
          style="--w:500px;--w-tablet:500px;--w-mobile:100%;--h:78px;--h-tablet:78px;--h-mobile:;--pl:20px;--pr:20px;--pt:20px;--pb:20px;--pl-mobile:40px;--pr-mobile:40px;--pt-mobile:20px;--pb-mobile:20px;--bblr:50px;--bbrr:50px;--btlr:50px;--btrr:50px;--shadow:none;--bgi:;--bg:#FA2E7D;--c:#FFFFFF;--fs:normal;--ff:var(--g-theme-font-body), var(--g-font-body);--size:24px;--size-tablet:24px;--size-mobile:24px;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold"
          class="gAMFTWd2aX gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-theme-font-body), var(--g-font-body);--size:24px;--size-tablet:24px;--size-mobile:24px;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggAMFTWd2aX_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gAMFTWd2aX">
        .gAMFTWd2aX {

}
      </style>
    
      <script id="custom-js-gAMFTWd2aX">
        try {
          (function() {
  const btn = document.querySelector('.gp-content-product-button');
  if (btn) {
    btn.onclick = function(e) {
      e.preventDefault(); // Stops the URL from adding the # anchor
      e.stopPropagation(); // Stops Shopify from "hearing" the click
      
      const target = document.getElementById('i2l3b9b55218e');
      if (target) {
        target.scrollIntoView({ behavior: 'smooth' });
      }
    };
  }
})();
        } catch(err){}
      </script>
    <div gp-el-wrapper  class="gYRcc9NvLk ">
      
    
      
      
    <div class="gp-flex" >
    <div
      data-id="gYRcc9NvLk"
       style="--d:block;--d-mobile:none;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:5px"
        >
        
    <li
      data-index="0" data-id="gvf0ZkMfcz"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gYRcc9NvLk"
      style="--cg:5px"
    >
    <div
      data-same-height-display-contents
      
      class="gyZ_pjqm0m gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gjJsWs1R5i" class="gp-leading-[0] gjJsWs1R5i" style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:center">
      <div data-id="gjJsWs1R5i" class="icon-wrapper gp-inline-flex gp-overflow-hidden gjJsWs1R5i " style="--bs:none;--bc:#121212">
      
        <div >
          <span style="--c:#2d2926;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817550818869608">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,36A100,100,0,1,0,228,136,100.11,100.11,0,0,0,128,36Zm0,176a76,76,0,1,1,76-76A76.08,76.08,0,0,1,128,212ZM32.49,72.49a12,12,0,1,1-17-17l32-32a12,12,0,1,1,17,17Zm208,0a12,12,0,0,1-17,0l-32-32a12,12,0,1,1,17-17l32,32A12,12,0,0,1,240.49,72.49ZM176,124a12,12,0,0,1,0,24H128a12,12,0,0,1-12-12V88a12,12,0,0,1,24,0v36Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gh9z75ipjh gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnUkdwOdqt"
        class="gnUkdwOdqt"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-theme-font-body), var(--g-font-body);--weight:400;--size:12px;--size-tablet:12px;--size-mobile:12px;--lh:100%;--lh-tablet:180%;--lh-mobile:180%;--ls:0.6px;--ls-tablet:0.6px;--ls-mobile:0.6px;--c:#2d2926;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnUkdwOdqt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-609001508251435954 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609001508167484338&sectionId=609001508251435954)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggAMFTWd2aX_label","label":"ggAMFTWd2aX_label","default":"<p>BUY NOW | UP TO 37% OFF</p>"},{"type":"html","id":"ggnUkdwOdqt_text","label":"ggnUkdwOdqt_text","default":"<p><strong>LIMITED TIME OFFER • FREE BOTTLE, FROTHER &amp; RECIPE BOOK</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}