
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609034224476881842.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609034224476881842.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609034224476881842.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609034224476881842.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609034224476881842.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609034224476881842.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609034224476881842.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609034224476881842.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609034224476881842.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609034224476881842.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609034224476881842.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609034224476881842.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609034224476881842.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609034224476881842.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609034224476881842.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609034224476881842.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609034224476881842.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609034224476881842.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609034224476881842.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609034224476881842.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609034224476881842.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609034224476881842.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609034224476881842.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609034224476881842.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609034224476881842.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609034224476881842.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609034224476881842.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609034224476881842.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609034224476881842.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609034224476881842.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609034224476881842.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609034224476881842.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609034224476881842.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609034224476881842.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609034224476881842.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609034224476881842.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609034224476881842.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609034224476881842.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609034224476881842.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609034224476881842.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609034224476881842.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609034224476881842.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609034224476881842 .gp-relative{position:relative}.gps-609034224476881842 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609034224476881842 .gp-mb-0{margin-bottom:0}.gps-609034224476881842 .gp-flex{display:flex}.gps-609034224476881842 .gp-grid{display:grid}.gps-609034224476881842 .\!gp-hidden{display:none!important}.gps-609034224476881842 .gp-hidden{display:none}.gps-609034224476881842 .gp-max-w-full{max-width:100%}.gps-609034224476881842 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609034224476881842 .gp-flex-col{flex-direction:column}.gps-609034224476881842 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609034224476881842 .gp-duration-200{transition-duration:.2s}.gps-609034224476881842 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609034224476881842 .tablet\:\!gp-hidden{display:none!important}.gps-609034224476881842 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609034224476881842 .mobile\:\!gp-hidden{display:none!important}.gps-609034224476881842 .mobile\:gp-hidden{display:none}}.gps-609034224476881842 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gcqRffwQs2"}' data-id="gcqRffwQs2" id="gcqRffwQs2" data-same-height-subgrid-container class="gcqRffwQs2 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gorcIcx3e9 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gLH-h0bkkx gp-custom-code">
      <div>
    <!-- TEANGLE Premium Compare Section (Coffee vs Vanilla Matcha Collagen) | HTML + CSS | Scoped + !important -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

<section class="tcmp" aria-label="Coffee vs Vanilla Matcha Collagen comparison">
  <div class="tcmp__wrap">
    <header class="tcmp__head">
      <p class="tcmp__kicker">Coffee vs. Vanilla Matcha Collagen</p>
      <h2 class="tcmp__title">Stop riding the coffee rollercoaster.</h2>
      <p class="tcmp__sub">
        Coffee spikes fast and crashes hard. Teangle gives calm, steady focus plus collagen support in one daily ritual.
      </p>
    </header>

    <!-- Desktop / Tablet Table -->
    <div class="tcmp__tableWrap" role="region" aria-label="Comparison table" tabindex="0">
      <table class="tcmp__table" role="table">
        <thead>
          <tr>
            <th scope="col" class="tcmp__th tcmp__th--feature">Feature</th>
            <th scope="col" class="tcmp__th tcmp__th--teangle">
              <span class="tcmp__brand">
                <span class="tcmp__badge">Best for daily</span>
                Vanilla Matcha Collagen
              </span>
            </th>
            <th scope="col" class="tcmp__th tcmp__th--coffee">Coffee</th>
          </tr>
        </thead>

        <tbody>
          <tr class="tcmp__row">
            <td class="tcmp__td tcmp__feature">Energy feel</td>
            <td class="tcmp__td tcmp__teangle">
              <span class="tcmp__pill tcmp__pill--good">Calm, steady focus</span>
            </td>
            <td class="tcmp__td tcmp__coffee">
              <span class="tcmp__pill tcmp__pill--meh">Fast spike, hard drop</span>
            </td>
          </tr>

          <tr class="tcmp__row">
            <td class="tcmp__td tcmp__feature">Jitters and anxiety</td>
            <td class="tcmp__td tcmp__teangle">
              <span class="tcmp__check">✓</span>
              <span class="tcmp__text">No jitters for most people</span>
            </td>
            <td class="tcmp__td tcmp__coffee">
              <span class="tcmp__x">✕</span>
              <span class="tcmp__text">Common with higher caffeine</span>
            </td>
          </tr>

          <tr class="tcmp__row">
            <td class="tcmp__td tcmp__feature">2 PM crash risk</td>
            <td class="tcmp__td tcmp__teangle">
              <span class="tcmp__check">✓</span>
              <span class="tcmp__text">Smooth, long lasting energy</span>
            </td>
            <td class="tcmp__td tcmp__coffee">
              <span class="tcmp__x">✕</span>
              <span class="tcmp__text">High crash likelihood</span>
            </td>
          </tr>

          <tr class="tcmp__row">
            <td class="tcmp__td tcmp__feature">Beauty support</td>
            <td class="tcmp__td tcmp__teangle">
              <span class="tcmp__check">✓</span>
              <span class="tcmp__text">5g marine collagen per scoop</span>
            </td>
            <td class="tcmp__td tcmp__coffee">
              <span class="tcmp__x">✕</span>
              <span class="tcmp__text">No collagen support</span>
            </td>
          </tr>

          <tr class="tcmp__row">
            <td class="tcmp__td tcmp__feature">Taste experience</td>
            <td class="tcmp__td tcmp__teangle">
              <span class="tcmp__pill tcmp__pill--good">Creamy vanilla matcha</span>
            </td>
            <td class="tcmp__td tcmp__coffee">
              <span class="tcmp__pill tcmp__pill--meh">Bitter or acidic</span>
            </td>
          </tr>

          <tr class="tcmp__row">
            <td class="tcmp__td tcmp__feature">Daily consistency</td>
            <td class="tcmp__td tcmp__teangle">
              <span class="tcmp__check">✓</span>
              <span class="tcmp__text">One scoop ritual, easy to stick to</span>
            </td>
            <td class="tcmp__td tcmp__coffee">
              <span class="tcmp__x">✕</span>
              <span class="tcmp__text">Often leads to more cups</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Mobile Cards -->
    <div class="tcmp__cards" aria-label="Comparison cards">
      <article class="tcmp__card tcmp__card--teangle">
        <div class="tcmp__cardTop">
          <p class="tcmp__cardTag">Vanilla Matcha Collagen</p>
          <h3 class="tcmp__cardTitle">Calm energy + glow support</h3>
        </div>
        <ul class="tcmp__list">
          <li><span class="tcmp__check">✓</span> Steady focus</li>
          <li><span class="tcmp__check">✓</span> Low crash risk</li>
          <li><span class="tcmp__check">✓</span> 5g marine collagen</li>
          <li><span class="tcmp__check">✓</span> Creamy vanilla matcha taste</li>
        </ul>
      </article>

      <article class="tcmp__card tcmp__card--coffee">
        <div class="tcmp__cardTop">
          <p class="tcmp__cardTag">Coffee</p>
          <h3 class="tcmp__cardTitle">Spike then crash</h3>
        </div>
        <ul class="tcmp__list">
          <li><span class="tcmp__x">✕</span> Jitters common</li>
          <li><span class="tcmp__x">✕</span> 2 PM crash likely</li>
          <li><span class="tcmp__x">✕</span> No beauty support</li>
          <li><span class="tcmp__x">✕</span> Bitter, acidic for many</li>
        </ul>
      </article>
    </div>

    <div class="tcmp__ctaRow">
      <a class="tcmp__btn" href="#buy">Get Vanilla Matcha Collagen</a>
      <p class="tcmp__micro">Tip: Push bundles here. Example: Free frother on 2+ tubs.</p>
    </div>
  </div>
</section>

<style>
  /* Scoped reset */
  .tcmp, .tcmp * { box-sizing: border-box !important; }
  .tcmp{
    --bg: #F9F1E8 !important;
    --ink: #10201D !important;
    --muted: rgba(16,32,29,.72) !important;
    --green: #1E4845 !important;
    --green2: rgba(30,72,69,.10) !important;
    --line: rgba(16,32,29,.12) !important;
    --card: #ffffff !important;
    --coffee: #6B4B2A !important;
    --coffee2: rgba(107,75,42,.10) !important;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif !important;
    background: var(--bg) !important;
    padding: 56px 16px !important;
  }

  .tcmp__wrap{
    max-width: 1100px !important;
    margin: 0 auto !important;
  }

  .tcmp__head{ text-align: center !important; margin-bottom: 22px !important; }
  .tcmp__kicker{
    margin: 0 0 10px !important;
    color: var(--green) !important;
    font-weight: 700 !important;
    letter-spacing: .02em !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
  }
  .tcmp__title{
    margin: 0 0 10px !important;
    color: var(--ink) !important;
    font-size: clamp(26px, 3.3vw, 42px) !important;
    line-height: 1.12 !important;
    font-weight: 800 !important;
  }
  .tcmp__sub{
    margin: 0 auto !important;
    max-width: 760px !important;
    color: var(--muted) !important;
    font-size: 16px !important;
    line-height: 1.6 !important;
    font-weight: 500 !important;
  }

  /* Table */
  .tcmp__tableWrap{
    margin: 22px auto 0 !important;
    background: var(--card) !important;
    border: 1px solid var(--line) !important;
    border-radius: 18px !important;
    overflow: hidden !important;
  }

  .tcmp__table{
    width: 100% !important;
    border-collapse: separate !important;
    border-spacing: 0 !important;
  }

  .tcmp__th{
    padding: 16px 14px !important;
    font-size: 14px !important;
    text-align: left !important;
    border-bottom: 1px solid var(--line) !important;
    background: #fff !important;
    font-weight: 800 !important;
    color: var(--ink) !important;
  }
  .tcmp__th--feature{ width: 36% !important; }
  .tcmp__th--teangle{
    background: var(--green2) !important;
    border-left: 1px solid var(--line) !important;
    border-right: 1px solid var(--line) !important;
  }
  .tcmp__th--coffee{ background: var(--coffee2) !important; }

  .tcmp__brand{
    display: flex !important;
    flex-direction: column !important;
    gap: 6px !important;
  }
  .tcmp__badge{
    display: inline-flex !important;
    align-self: flex-start !important;
    padding: 6px 10px !important;
    border-radius: 999px !important;
    background: rgba(30,72,69,.14) !important;
    color: var(--green) !important;
    font-size: 12px !important;
    font-weight: 800 !important;
  }

  .tcmp__td{
    padding: 14px !important;
    border-bottom: 1px solid var(--line) !important;
    vertical-align: middle !important;
    font-size: 14px !important;
    color: var(--ink) !important;
    font-weight: 600 !important;
  }
  .tcmp__row:last-child .tcmp__td{ border-bottom: 0 !important; }

  .tcmp__feature{ font-weight: 700 !important; }
  .tcmp__teangle{
    background: rgba(30,72,69,.06) !important;
    border-left: 1px solid var(--line) !important;
    border-right: 1px solid var(--line) !important;
  }
  .tcmp__coffee{ background: rgba(107,75,42,.06) !important; }

  .tcmp__pill{
    display: inline-flex !important;
    padding: 8px 10px !important;
    border-radius: 999px !important;
    font-weight: 800 !important;
    font-size: 12px !important;
    line-height: 1 !important;
    border: 1px solid var(--line) !important;
    background: #fff !important;
  }
  .tcmp__pill--good{ border-color: rgba(30,72,69,.28) !important; }
  .tcmp__pill--meh{ border-color: rgba(107,75,42,.28) !important; }

  .tcmp__check, .tcmp__x{
    display: inline-flex !important;
    width: 22px !important;
    height: 22px !important;
    border-radius: 999px !important;
    align-items: center !important;
    justify-content: center !important;
    margin-right: 8px !important;
    font-size: 13px !important;
    font-weight: 900 !important;
    flex: 0 0 auto !important;
  }
  .tcmp__check{ background: rgba(30,72,69,.14) !important; color: var(--green) !important; }
  .tcmp__x{ background: rgba(107,75,42,.14) !important; color: var(--coffee) !important; }

  .tcmp__text{ font-weight: 600 !important; color: var(--ink) !important; }

  /* Mobile cards */
  .tcmp__cards{
    display: none !important;
    gap: 12px !important;
    margin-top: 18px !important;
  }
  .tcmp__card{
    background: #fff !important;
    border: 1px solid var(--line) !important;
    border-radius: 18px !important;
    padding: 14px !important;
  }
  .tcmp__card--teangle{ border-color: rgba(30,72,69,.28) !important; }
  .tcmp__card--coffee{ border-color: rgba(107,75,42,.28) !important; }

  .tcmp__cardTag{
    margin: 0 0 6px !important;
    font-weight: 900 !important;
    color: var(--ink) !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    letter-spacing: .02em !important;
  }
  .tcmp__cardTitle{
    margin: 0 0 10px !important;
    font-weight: 900 !important;
    font-size: 18px !important;
    line-height: 1.2 !important;
    color: var(--ink) !important;
  }
  .tcmp__list{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    display: grid !important;
    gap: 8px !important;
  }
  .tcmp__list li{
    display: flex !important;
    align-items: flex-start !important;
    gap: 8px !important;
    font-weight: 600 !important;
    color: var(--ink) !important;
    line-height: 1.35 !important;
  }
  .tcmp__list li .tcmp__check,
  .tcmp__list li .tcmp__x{
    margin-right: 0 !important;
    width: 20px !important;
    height: 20px !important;
    font-size: 12px !important;
  }

  /* CTA */
  .tcmp__ctaRow{
    margin-top: 18px !important;
    display: grid !important;
    gap: 10px !important;
    justify-items: center !important;
  }
  .tcmp__btn{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 14px 18px !important;
    border-radius: 999px !important;
    background: var(--green) !important;
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 900 !important;
    letter-spacing: .01em !important;
    min-width: min(460px, 100%) !important;
    border: 1px solid rgba(0,0,0,.12) !important;
    box-shadow: 0 10px 22px rgba(16,32,29,.12) !important;
    transition: transform .15s ease, box-shadow .15s ease !important;
  }
  .tcmp__btn:hover{
    transform: translateY(-1px) !important;
    box-shadow: 0 14px 26px rgba(16,32,29,.16) !important;
  }
  .tcmp__micro{
    margin: 0 !important;
    color: rgba(16,32,29,.62) !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    text-align: center !important;
  }

  /* Responsive switch */
  @media (max-width: 820px){
    .tcmp__tableWrap{ display: none !important; }
    .tcmp__cards{ display: grid !important; }
    .tcmp{ padding: 46px 14px !important; }
  }
</style>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-609034224476881842 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/fr-hellodarknessmyoldfriend/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609023964185887704&sectionId=609034224476881842)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}