<div id="replo-section-82a551ce-410c-40bc-b188-5f0813791562" data-runtime-version="c0e48d80-025e-11ef-a023-350637a6c9a3" data-section-id="{{ section.id }}" style="display:block !important;">{% include "reploChunk.82a551ce-410c-40bc-b188-5f0813791562.0" %}{% include "reploChunk.82a551ce-410c-40bc-b188-5f0813791562.1" %}</div>

{% schema %}
{
  "name": "Buy Box",
  "presets": [
    {
      "name": "Buy Box"
    }
  ],
  "settings": []
}
{% endschema %}
    