.jr-hp-hero.jr-bfcm-hero {
    height: 650px;
}

.jr-hp-hero.jr-bfcm-hero .overlay {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1; 
}

.jr-hp-hero.jr-bfcm-hero .content-container {
    margin-left: unset;
    width: 100%;
    z-index: 2;
}
.jr-hp-hero.jr-bfcm-hero h1 {
    text-align: center !important;
    font-family: "Cooper MBT";
    font-size: 64px;
    font-weight: 400;
    line-height: 77.31px;
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}

.jr-hp-hero.jr-bfcm-hero .sticker-container {
    z-index: 3;
    position: absolute;
}

.jr-hp-hero.jr-bfcm-hero .sticker {
    position: relative;
}

.jr-hp-hero.jr-bfcm-hero .sticker img {
    min-width: 180px;
}

.jr-hp-hero.jr-bfcm-hero .sticker-container:nth-of-type(1) p {
    font-size: 36px;
}

.jr-hp-hero.jr-bfcm-hero .sticker-container:nth-of-type(2) p{
    font-size: 26px;
}

.jr-hp-hero.jr-bfcm-hero .sticker p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align: center;
    font-family: Sofia Pro;
    font-weight: 800;
    line-height: 1;
    text-transform: uppercase;
    width: 80%;
    margin: 0;
}

@media screen and (max-width: 651px) {
    .jr-hp-hero.jr-bfcm-hero h1 {
        font-size: 36px;
        line-height: 36px;
        max-width: 100%;
    }
    .jr-hp-hero.jr-bfcm-hero {
        height: 300px;
    }
    .jr-hp-hero.jr-bfcm-hero .hero-image {
        height: 100%;
        position: absolute;
    }
    .jr-hp-hero.jr-bfcm-hero .sticker img {
        width: 85px;
        max-width: 85px;
        min-width: unset;
    }
    .jr-hp-hero.jr-bfcm-hero .sticker p {
        line-height: 1.15;
        top: 46%;
    }
    .jr-hp-hero.jr-bfcm-hero .sticker-container:nth-of-type(1) p {
        font-size: 16px;
    }
    
    .jr-hp-hero.jr-bfcm-hero .sticker-container:nth-of-type(2) p{
        font-size: 12px;
    }
}
